{{#each this}}
  <div class="col-md-3">
    <div class="card card-user">
      <div class="image"></div>
      <div class="content">
        <div class="author">
          <img id="candidateAvatar" class="avatar border-white" src="/static/assets/images/face-0.jpg" />
          <h4 class="title">{{this.Wish.Candidate.User.firstName}} {{this.Wish.Candidate.User.lastName}}<br />
            <a href="#"><small>{{age this.Whish.Candidate.User.birthday 'years'}} ans</small></a>
          </h4>
        </div>
        <p class="description text-center">
          {{usr.candidate.description}}
          <a href="/profile/edit"><i class="fa fa-pencil"></i></a>
        </p>
      </div>
      <hr>
      <div class="text-center">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <h5>{{date usr.createdAt 'DD/MM/YY'}}<br /><small>Inscription</small></h5>
          </div>
          <div class="col-md-4">
            <h5>{{date usr.updatedAt 'DD/MM/YY'}}<br /><small>Dernière modification</small></h5>
          </div>
          <div class="col-md-3">
            <h5>40%<br /><small>du profil complété</small></h5>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <div class="row">
          <h5><i class="fa fa-phone"></i> {{usr.phone}}</h5>
          <h5><i class="fa fa-envelope"></i> {{usr.email}}</h5>
          <h5><i class="fas fa-map-marked-alt"></i> {{usr.postal_code}} {{usr.town}}</h5>
        </div>
      </div>
    </div>
  </div>
{{/each}}