<div class="row">
  {{#each this.candidates as |data|}}
    <div class="col-12 col-md-6 col-lg-3" data-card-user="{{data.Candidate.id}}"
      {{#ifCond ../this.type '===' 'archived'}}
         data-archived="true"{{else}} data-archived="false"{{/ifCond}}
      {{#ifCond ../this.type '===' 'favorites'}}
         data-favorite="true"{{else}} data-favorite="false"{{/ifCond}}>
      <div class="card card-user">
        <div class="icons" style="z-index: 1">
          <div class="float-left">
                <span class="float-right" style="margin: 5px">
                  <i class="selectCandidate fal fa-square fa-1d3x" data-id="{{data.Candidate.id}}"
                     onclick="addCandidate({{data.Candidate.id}}, 'select')" style="cursor: pointer;"></i>
                  <i class="unselectCandidate fal fa-check-square fa-1d3x" data-id="{{data.Candidate.id}}"
                     onclick="removeCandidate({{data.Candidate.id}}, 'unselect')"
                     style="display:none;cursor: pointer; color: #35e035"></i>
                </span>
          </div>
          <div class="actions float-right p-2">
            {{#ifCond ../this.type '===' 'archived'}}
              <i class="fal fa-archive archiveCandidate fa-1d3x" data-id="{{data.Candidate.id}}"
               onclick="removeCandidate({{data.Candidate.id}}, 'unarchive')"
               style="cursor: pointer; color: rgb(14, 206, 164)"></i>
            {{/ifCond}}
            {{#ifCond ../this.type '===' 'favorites'}}
              <i class="fal fa-star favCandidate fa-1d3x" data-id="{{data.Candidate.id}}"
               onclick="removeCandidate({{data.Candidate.id}}, 'unfav')"
               style="cursor: pointer; color: gold">
              </i>
            {{/ifCond}}
          </div>
        </div>
        <div class="content">
          <div class="card-profile">
            <div class="avatar avatar-xxl avatar-{{#if data.Candidate.is_available}}on{{else}}off{{/if}}line" style="margin-top: -30px;">
              <img {{#if data.Candidate.User.photo}}src="/uploads/avatars/{{data.Candidate.User.photo}}"{{else}}src="/assets/images/face-0.jpg"{{/if}} id="candidateAvatar"
                   class="avatar-img rounded-circle border-blue" alt="avatar">
            </div>
            <div class="rank-label-container" data-toggle="tooltip" data-html="true" data-placement="top" title="{{> tooltips/candidatePercentage this.Candidate.percentage}}">
              <span class="label label-default rank-label">{{{candidateProfilePercentage this.Candidate.percentage}}}</span>
            </div>
            <h4 class="title">{{data.Candidate.User.firstName}} {{data.Candidate.User.lastName}},
              <small>{{age data.Candidate.User.birthday 'years'}} ans</small>,
              <small><b><i class="fal fa-map-marker-alt"></i> {{data.Candidate.User.town}}</b></small>
            </h4>
          </div>
          <div class="text-center">
            <h4>
              <div class="{{#unless data.Candidate.is_available}}un{{/unless}}available"></div>
              <span class="text-{{#unless data.Candidate.is_available}}un{{/unless}}available"
                    style="line-height: 1.8">
                {{#if data.Candidate.is_available}}Disponible{{else}} Indisponible{{/if}}
              </span>
            </h4>
            {{#if data.Candidate.experiences}}
              <hr style="width: 45%; margin: auto">
              <h4 class="text-muted mt-2">
                Expérience dans les postes
              </h4>
              <h4 {{{otherPostsPopover this.Candidate.experiences}}}>
                <label class="col-8 wrapword badge badge-soft-success">{{firstPost this.Candidate.experiences}}</label>
              </h4>
              <hr style="width: 45%; margin: auto">
              <h4 class="text-muted mt-2">
                Expérience dans les services
              </h4>
              <h5 {{{otherServicesPopover this.Candidate.experiences}}}>
                <div class="badge badge-soft-secondary">{{firstService this.Candidate.experiences}}</div>
              </h5>
              <hr style="width: 45%; margin: auto;">
            {{else}}
              <hr style="width: 45%; margin: auto">
              <h4 class="text-muted mt-2">
                Aucune expériences
              </h4>
              <hr style="width: 45%; margin: auto;">
            {{/if}}
          </div>
          <div class="col-md-12 text-center profile-cta">
            <div class="col-md-12">
              <button class="btn btn-outline-info" onclick="showCandidateProfile({{data.Candidate.User.id}})"
                      data-toggle="tooltip"  data-placement="top" title="Accéder au profil complet">
                <i class="fal fa-id-card"></i>
              </button>
              <button class="btn btn-outline-success" onclick="showCandidateApplications({{data.Candidate.id}})"
                      data-toggle="tooltip"  data-placement="top" title="Afficher les candidatures ({{data.Candidate.applications.length}})">
                <i class="fal fa-file-signature"></i>
              </button>
            </div>
            <div class="col-md-12">
              <p class="text-muted">
                <small>Profil actualisé le {{date data.Candidate.User.updatedAt 'DD/MM/YYYY'}}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{#unless this.candidates}}
  <h1 class="text-center">Aucun candidats ne correspond à ce critère de recherche.</h1>
{{else}}
  <script>
    need.selectedCandidates.forEach(e => {
      $(`i.selectCandidate[data-id="${e}"]`).hide();
      $(`i.unselectCandidate[data-id="${e}"]`).show();
    });
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
{{/unless}}
