{{#if user}}
  <!-- HEADER -->
  <div class="header">
    <div class="container-fluid">
      <!-- Body -->
      <div class="header-body">
        {{#if session.originalUser}}
          <div class="col-12 col-lg-12 alert alert-warning" style="z-index: 5;">
            Vous être en train d'utiliser Mstaff en tant que <b>{{user.email}}</b>
            <i id="removeReadOnly" class="fa fa-{{readOnly}}"></i>
            - <a href="/back-office/removeImpersonation"> Retour </a>
          </div>
        {{/if}}
        <div class="dropdown">
          <a class="dropdown-toggle btn-rotate" href="#" id="notifications-dropdown" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i id="notificationsIcon" class="fal fa-bell" aria-hidden="true"></i>
            <span id="notificationsBadge" class="label label-danger">
            <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
          </span>
          </a>
          <div class="dropdown-menu dropdown-menu-card notification-dropdown-menu col-3" aria-labelledby="notifications-dropdown">
            <h3 class="dropdown-header text-center mb-3" style="border-bottom: 1px solid black;">Notifications</h3>
            <a id="notificationsLoader" class="dropdown-item dropdown-notification" href="#">
              <p class="notification-solo text-center">
                <i id="notificationsIcon" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
                Chargement des dernières notifications...
              </p>
            </a>
            <div id="notificationsContainer" class="notifications-container"></div>
            <div id="notificationData" class="notification-data-container"></div>
            <a id="notificationAucune" class="dropdown-item dropdown-notification" href="#">
              <p class="notification-solo text-center">Aucune nouvelle notification</p>
            </a>
            {{!--<li style="cursor: pointer; background-color: white" id="notif-see-all">
                            <a class="dropdown-item dropdown-notification-all" href="/notifications">
                              Voir toutes les notifications
                            </a>
                          </li>--}}

            <div id="notif-back">
              <a class="dropdown-item dropdown-notification-all" href="#">
                <i class="fal fa-check"></i>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- / .header-body -->
    </div>
  </div> <!-- / .header -->

  <script id="notificationTemplate" type="text/html">
    <div class="dropdown-item dropdown-notification notif-li" style="cursor: pointer;" data-notif-id="\{{id}}">
      <div class="notification-read">
        <i class="fal fa-times float-right" aria-hidden="true" title="marquer comme lu"></i>
      </div>
      <div class="notifications-body">
        <p class="notification-texte">\{{subject}}</p>
        <p class="notification-date text-muted">
          <i class="fal fa-clock" aria-hidden="true"></i> \{{date}}
        </p>
      </div>
    </div>
  </script>
{{/if}}