<!-- All bootstrap modals goes here -->
<!--@TODO : Modal Builder -->
<div class="modal fade" id="editXpModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5><span class="ti-pencil-alt"></span> Modifier une experience</h5>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
              <input type="hidden" id="editXPId" value="">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editName">Établissement *</label>
                <div class="col-md-9">
                  <input id="editName" name="name" type="text"
                         placeholder="Clinique, hopital ..."
                         class="form-control input-md" value="{{body.name}}" required="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editPost_id">Poste *</label>
                <div class="col-md-9">
                  <select class="form-control input-md" name="post_id" id="editPost_id" required="" style="width:75%">
                    {{#each posts as |post|}}
                      <option value="{{post.id}}">{{post.name}}</option>
                    {{/each}}
                  </select>
                  <br>
                  <div class="checkbox">
                    <input id="editInternship" name="internship" type="checkbox">
                    <label for="editInternship">
                      En tant que stagiaire
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editService_id">Service *</label>
                <div class="col-md-9">
                  <select class="form-control input-md" name="service_id" id="editService_id" required="" style="width:75%">
                    {{#each services as |service|}}
                      <option value="{{service.id}}">{{service.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editStart">Début *</label>
                <div class="col-sm-3 col-md-3">
                  <input id="editStart" name="start" type="text"
                         class="form-control input-md monthpicker from" required="" autocomplete="false">
                </div>
                <label class="col-md-2 control-label" for="editEnd">Fin *</label>
                <div class="col-sm-3 col-md-3">
                  <input id="editEnd" name="end" type="text"
                         class="form-control input-md monthpicker to" autocomplete="false">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <input id="editCurrent" name="current" type="checkbox">
                    <label class="control-label" for="editCurrent">
                      J'occupe actuellement ce poste
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">Annuler</button>
        <button type="button" id="editXP" data-id="" class="btn btn-info pull-right" style="margin-bottom: 5px;">
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Modifier
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editFormationModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5><span class="ti-pencil-alt"></span> Modifier une formation</h5>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editFName">Formation *</label>
                <div class="col-md-9">
                  <input id="editFName" name="name" type="text"
                         placeholder="Choisir une formation" class="form-control input-md" required="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="hidden" id="editFormationId" value="">
                <label class="col-md-3 control-label" for="editFStart">Début *</label>
                <div class="col-sm-3 col-md-3">
                  <input id="editFStart" name="start" type="text"
                         class="form-control input-md monthpicker from" required="" autocomplete="false">
                </div>
                <label class="col-md-2 control-label" for="editFEnd">Fin *</label>
                <div class="col-sm-3 col-md-3">
                  <input id="editFEnd" name="end" type="text"
                         class="form-control input-md monthpicker to" autocomplete="false">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">Annuler</button>
        <button type="button" id="editFormation" data-id="" class="btn btn-info pull-right" style="margin-bottom: 5px;">
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Modifier
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editDiplomaModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5><span class="ti-pencil-alt"></span> Modifier un diplôme</h5>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editDName">Diplôme *</label>
                <div class="col-md-9">
                  <input id="editDName" name="name" type="text"
                         placeholder="Choisir un diplôme" class="form-control input-md" required="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editDStart">Début *</label>
                <div class="col-sm-3 col-md-3">
                  <input id="editDStart" name="start" type="text"
                         class="form-control input-md monthpicker from" required="" autocomplete="false">
                </div>
                <label class="col-md-2 control-label" for="editDEnd">Fin *</label>
                <div class="col-sm-3 col-md-3">
                  <input id="editDEnd" name="end" type="text"
                         class="form-control input-md monthpicker to" autocomplete="false">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">Annuler</button>
        <button type="button" id="editDiploma" class="btn btn-info pull-right" style="margin-bottom: 5px;">
          <i class="fa fa-pencil-square" aria-hidden="true"></i> Modifier
        </button>
      </div>
    </div>
  </div>
</div>
{{#ifCond @root.a.main '===' 'documents'}}
  <div class="modal fade in" id="showFileListModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title text-center">Vos fichiers </h4>
        </div>
        <div class="modal-body showFileListModalBody"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{{/ifCond}}
<div class="modal fade in" id="removeExperienceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation </h4>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette expérience ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
        <button type="button" id="btnRemoveXp" class="btn btn-danger" data-dismiss="modal">
          Oui
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="removeFormationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation </h4>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette formation ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
        <button type="button" id="btnRemoveFormation" class="btn btn-danger" data-dismiss="modal">
          Oui
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="removeDiplomaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation </h4>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer ce diplôme ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
        <button type="button" id="btnRemoveDiploma" class="btn btn-danger" data-dismiss="modal">
          Oui
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="removeSkillModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation </h4>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette compétence ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
        <button type="button" id="btnRemoveSkill" class="btn btn-danger" data-dismiss="modal">
          Oui
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade in" id="removeReadOnlyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Confirmation </h4>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer la lecture seule ? Cette action ne doit être destinée qu'à des fins de débug.</p>
        <p>Veuillez entrer votre mot de passe pour confirmer cette action</p>
        <form role="form" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label" for="editDName">Mot de passe *</label>
                <div class="col-md-9">
                  <input id="removeROPassword" type="password" class="form-control input-md">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
        <button type="button" id="btnRemoveRO" onclick="removeRO()" class="btn btn-danger">
          Valider
        </button>
      </div>
    </div>
  </div>
</div>