<div class="row">
  {{!-- USERS COUNT CARD --}}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big text-center" style="color: #459bf3">
              <i class="fal fa-users"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Utilisateurs</p>
              {{number usersCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/users/">Voir tous les utilisateurs</a></p>
        </div>
      </div>
    </div>
  </div>
  {{!-- CANDIDATES COUNT CARD --}}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big text-center" style="color: #a6eac4">
              <i class="fal fa-hospital-user"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Candidats</p>
              {{number candidatesCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/users/candidates/">Voir tous les candidats</a></p>
        </div>
      </div>
    </div>
  </div>
  {{!-- ES COUNT CARD --}}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big text-center" style="color: #ea819a">
              <i class="fal fa-clinic-medical"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Établissements</p>
              {{number esCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/users/es/">Voir tous les établissements Mstaff</a></p>
        </div>
      </div>
    </div>
  </div>
  {{!-- APPLICATIONS COUNT CARD --}}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big text-center" style="color: #56709e">
              <i class="fal fa-briefcase-medical"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Candidatures</p>
              {{number applicationsCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p>Voir toutes les candidatures</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  {{!-- WISHES COUNT CARD --}}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big text-center" style="color: #56709e">
              <i class="fal fa-clipboard-user"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Souhaits</p>
              {{number wishesCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p>Voir tous les souhaits</p>
        </div>
      </div>
    </div>
  </div>
  {{!-- DB DUMPS COUNT CARD --}}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big text-center" style="color: darkcyan">
              <i class="fal fa-database"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Sauvegardes DB</p>
              {{number db_dumps}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/server/db_dumps">Voir toutes les sauvegardes</a></p>
        </div>
      </div>
    </div>
  </div>
  {{!-- DOCUMENTS COUNT CARD --}}
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big text-center" style="color: #020201">
              <i class="fal fa-file"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Documents utilisateurs</p>
              {{number documents}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/server/uploads_dumps">Voir toutes les sauvegardes</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="numbers pull-left">{{usersLoginWeekCount}}</div>
          </div>
        </div>
        <h6 class="big-title">Utilisateurs connectés ces <span class="text-muted">7 derniers jours</span></h6>
        <div id="chartUsersLoginWeek"></div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="numbers pull-left">{{usersWeekCount}}</div>
          </div>
        </div>
        <h6 class="big-title">Nouveaux utilisateurs ces <span class="text-muted"> 7 derniers jours</span></h6>
        <div id="chartUsersWeek"></div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="numbers pull-left">{{wishesWeekCount}}</div>
          </div>
          <div class="col-xs-5">
            <div class="pull-right">
              <!--<span class="label label-danger"></span>-->
            </div>
          </div>
        </div>
        <h6 class="big-title">Nouveaux souhaits ces <span class="text-muted"> 7 derniers jours</span></h6>
        <div id="chartWishesWeek"></div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/chartist.min.js"></script>
<script src="https://codeyellowbv.github.io/chartist-plugin-legend/chartist-plugin-legend.js"></script>
<script>
  let lastWeek = [
    moment().subtract(6, 'days').format('ddd'),
    moment().subtract(5, 'days').format('ddd'),
    moment().subtract(4, 'days').format('ddd'),
    moment().subtract(3, 'days').format('ddd'),
    moment().subtract(2, 'days').format('ddd'),
    moment().subtract(1, 'days').format('ddd'),
    moment().format('ddd')
  ];

  let dataCandidateWeek = {
    labels: lastWeek,
    series: [[{{weekStats usersWeekRegistration}}]]
  };

  let dataUsersLoginWeek = {
    labels: lastWeek,
    series: [
      {
        name: 'Connexions utilisateurs',
        data: [{{weekStats usersLoginsWeekRegistration}}]
      }, {
        name: 'Dernière activité utilisateurs',
        data: [{{weekStats usersLastActivityWeekRegistration}}]
      }]
  };
  let dataWishesWeek = {
    labels: lastWeek,
    series: [[{{weekStats wishesWeek}}]]
  };

  let optionsUsersWeek = {
    onlyInteger: true,
    showPoint: true,
    lineSmooth: true,
    height: "210px",
    axisX: {
      showGrid: false,
      showLabel: true
    },
    axisY: {
      offset: 40,
      showGrid: true,
      onlyInteger: true
    },
    low: 0,
    high: 'auto',
    classNames: {
      line: 'ct-line ct-azure'
    }
  };

  let optionsUsersLoginWeek = {
    onlyInteger: true,
    showPoint: true,
    lineSmooth: true,
    height: "210px",
    axisX: {
      showGrid: false,
      showLabel: true
    },
    axisY: {
      offset: 40,
      showGrid: true,
      onlyInteger: true
    },
    low: 0,
    high: 'auto',
    plugins: [
      Chartist.plugins.legend({
        legendNames: ['Dernières connexions', 'Dernières activités'],
      })
    ]
  };

  Chartist.Line('#chartUsersWeek', dataCandidateWeek, optionsUsersWeek);
  Chartist.Line('#chartUsersLoginWeek', dataUsersLoginWeek, optionsUsersLoginWeek);
  Chartist.Line('#chartWishesWeek', dataWishesWeek, optionsUsersWeek);
</script>