<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big icon-warning text-center">
              <i class="fal fa-users"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Utilisateurs</p>
              {{usersCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/users/">Voir tout les utilisateurs</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big icon-success text-center">
              <i class="fal fa-hospital-user"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Candidats</p>
              {{candidatesCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/users/candidates/">Voir tout les candidats</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big icon-info text-center">
              <i class="fal fa-hospitals"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Établissements</p>
              {{esCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p><a href="/back-office/users/es/">Voir tout les établissements Mstaff</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-5">
            <div class="icon-big icon-danger text-center">
              <i class="fal fa-clipboard-user"></i>
            </div>
          </div>
          <div class="col-xs-7">
            <div class="numbers">
              <p>Souhaits</p>
              {{wishesCount}}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="stats">
          <p>Voir tout les souhaits</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="numbers pull-left">{{usersWeekCount}}</div>
          </div>
          <div class="col-xs-5">
            <div class="pull-right">
              <span class="label label-danger">-14%</span>
            </div>
          </div>
        </div>
        <h6 class="big-title">Nouveaux utilisateurs ces <span class="text-muted"> 7 derniers jours</span></h6>
        <div id="chartUsersWeek"></div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="footer-title">Voir plus</div>
        <div class="pull-right">
          <button class="btn btn-default btn-fill btn-icon btn-sm">
            <i class="ti-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="numbers pull-left">{{ESWeekCount}}</div>
          </div>
          <div class="col-xs-5">
            <div class="pull-right">
              <span class="label label-warning">~51%</span>
            </div>
          </div>
        </div>
        <h6 class="big-title">Nouveaux établissements ces <span class="text-muted">7 derniers jours</span></h6>
        <div id="chartESWeek"></div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="footer-title">Voir plus</div>
        <div class="pull-right">
          <button class="btn btn-success btn-fill btn-icon btn-sm">
            <i class="ti-info"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="numbers pull-left">{{wishesWeekCount}}</div>
          </div>
          <div class="col-xs-5">
            <div class="pull-right">
              <!--<span class="label label-danger"></span>-->
            </div>
          </div>
        </div>
        <h6 class="big-title">Nouveaux souhaits ces <span class="text-muted"> 7 derniers jours</span></h6>
        <div id="chartWishesWeek"></div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="footer-title">Voir plus</div>
        <div class="pull-right">
          <button class="btn btn-default btn-fill btn-icon btn-sm">
            <i class="ti-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let lastWeek = [
    moment().subtract(6, 'days').format('ddd'),
    moment().subtract(5, 'days').format('ddd'),
    moment().subtract(4, 'days').format('ddd'),
    moment().subtract(3, 'days').format('ddd'),
    moment().subtract(2, 'days').format('ddd'),
    moment().subtract(1, 'days').format('ddd'),
    moment().format('ddd')
  ];

  let dataCandidateWeek = {
    labels: lastWeek,
    series: [[{{weekStats usersWeekRegistration}}]]
  };

  let dataESWeek = {
    labels: lastWeek,
    series: [[{{weekStats esWeekRegistration}}]]
  };
  {{log wishesWeek.dataValues}}
  let dataWishesWeek = {
    labels: lastWeek,
    series: [[{{weekStats wishesWeek}}]]
  };

  let optionsUsersWeek = {
    onlyInteger: true,
    showPoint: true,
    lineSmooth: true,
    height: "210px",
    axisX: {
      showGrid: false,
      showLabel: true
    },
    axisY: {
      offset: 40,
      showGrid: true,
      onlyInteger: true
    },
    low: 0,
    high: 'auto',
    classNames: {
      line: 'ct-line ct-red'
    }
  };

  let optionsESWeek = {
    onlyInteger: true,
    showPoint: true,
    lineSmooth: true,
    height: "210px",
    axisX: {
      showGrid: false,
      showLabel: true
    },
    axisY: {
      offset: 40,
      showGrid: true,
      onlyInteger: true
    },
    low: 0,
    high: 'auto',
    classNames: {
      line: 'ct-line ct-blue'
    }
  };

  Chartist.Line('#chartUsersWeek', dataCandidateWeek, optionsUsersWeek);
  Chartist.Line('#chartESWeek', dataESWeek, optionsESWeek);
  Chartist.Line('#chartWishesWeek', dataWishesWeek, optionsUsersWeek);
</script>