<div class="row">
  <div class="col-lg-9 col-md-7">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Messages serveur - <a class="btn btn-info" href="/back-office/server/add/message"><i class="fal fa-plus"></i> Ajouter</a>
        </h4>
      </div>
      <div class="card-content">
        <div class="row">
          <table id="srvMsg-table" class="table">
            <thead>
            <th data-field="id" class="text-center">#</th>
            <th data-field="name" data-sortable="true">Nom</th>
            <th data-field="message" data-sortable="true">Message</th>
            <th data-field="target" data-sortable="true">Cible</th>
            <th data-field="fromDate" data-sortable="true">Date</th>
            <th data-field="untilDate" data-sortable="true">Jusqu'au</th>
            <th data-field="enable" data-sortable="true">État</th>
            <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
                data-formatter="operateFormatter">Actions</th>
            </thead>
            <tbody>
            {{#each serverMessages as |message|}}
              <tr>
                <td>{{message.id}}</td>
                <td>{{message.name}}</td>
                <td>
                  <div class="alert alert-{{message.msgType}}">{{{message.message}}}</div>
                </td>
                <td>{{message.type}}</td>
                <td>{{date message.fromDate 'DD/MM/YYYY H:mm'}}</td>
                <td>{{date message.untilDate 'DD/MM/YYYY H:mm'}}</td>
                <td>
                  <input class="test" type="checkbox" name="enable" data-id="{{message.id}}" {{#if message.enable}}checked{{/if}} />
                </td>
                <td></td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-5">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Paramètres Serveur</h4>
      </div>
      <div class="card-content">
        <form id="server">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Mode Maintenance</label>
                <select class="form-control" name="maitenance">
                  <option value="live">Désactivé</option>
                  <option value="maintenance">Activé</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-fill btn-wd">Sauvegarder</button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  let table = $('#srvMsg-table');

  operateFormatter = (value, row, index) => {
    return [
      '<div class="table-icons">',
      '<a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
      '<i class="ti-pencil-alt"></i>',
      '</a>',
      '<a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
      '<i class="ti-close"></i>',
      '</a>',
      '</div>',
    ].join('');
  };

  $(document).ready(() => {
    window.operateEvents = {
      'click .edit': (e, value, row, index) => {
        $(location).attr('href', `/back-office/server/message/${row.id}`);
      },
      'click .remove': (e, value, row, index) => {
        if(confirm('Confirmer la suppression de ce message serveur ?')) {
          $.delete(`/api/back-office/server/message/${row.id}`, { _csrf }, (data) => {
            if (data.deleted) {
              table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
              });
              notification({
                icon: 'check-circle',
                type: 'success',
                title: 'Message supprimé avec succès.'
              })
            } else {
              notification({
                icon: 'exclamation-circle',
                type: 'warning',
                title: 'Impossible de supprimer ce message : ',
                message: JSON.stringify(data.result)
              })
            }
          });
        }
      }
    };

    table.bootstrapTable({
      search: true,
      showColumns: true,
      searchAlign: 'left',
      pageSize: 25,
      formatRecordsPerPage: (pageNumber) => {
        return pageNumber + " rows visible";
      },
      icons: {
        columns: 'fal fa-columns',
        detailOpen: 'fal fa-plus-circle',
        detailClose: 'ti-close'
      }
    });

    //activate the tooltips after the data table is initialized
    $('[rel="tooltip"]').tooltip();

    $(window).resize(() => {
      table.bootstrapTable('resetView');
    });

    $('.test').click(function () {
      let id = $(this).attr('data-id');
      let enable = $(this).prop('checked');
      $.put(`/api/back-office/server/message/${id}/enable`, { _csrf, enable }, (data) => {
        if (data) {
          notification({
            icon: 'check-circle',
            type: 'success',
            title: `Message ${enable ? 'activé' : 'désactivé' } avec succès.`
          })
        }
      }).catch((xhr, status, error) => catchError(xhr, status, error));
    });
  });

  $('#server').submit(e => {
    e.preventDefault();
    saveServer();
  });

  let saveServer = () => {
    let maintenance = $('select[name="maitenance"]').val();
    $.post('/api/back-office/server/maintenance', { _csrf, maintenance }, (data) => {
      if (data) {
        notification({
          icon: 'check-circle',
          type: 'success',
          title: 'Paramètre enregistré.'
        });
      }
    }).catch((xhr, status, error) => catchError(xhr, status, error));
  };
</script>