<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content=""/>

        <!-- meta facebook -->
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="">
        <meta property="og:description"
              content=""/>
        <title>Mstaff</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700%7cMarcellus+SC" rel="stylesheet">
        <link rel="stylesheet" href="/static/assets/main.css">
        <link rel="stylesheet" href="/static/stylesheets/lux.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/vendors/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/stylesheets/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="/static/stylesheets/jquery-ui/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="/static/stylesheets/jquery-ui/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="/static/stylesheets/scrolling-nav.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />

        <script src="/static/vendors/tether/dist/js/tether.min.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="/static/vendors/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
        <script src="/static/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.js"></script>
        <script src="/static/vendors/moment/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    </head>

    <body>
        <header>
            {{> header}}
        </header>

        <main role="main" class="main-content container">
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            {{#each errors as |error|}}
                <div class="alert alert-danger">{{error.msg}}</div>
            {{/each}}
            {{#if sequelizeError}}
                {{#each sequelizeError.errors as |error|}}
                    <div class="alert alert-danger">{{error.message}}</div>
                {{/each}}
            {{/if}}
            {{{body}}}
        </main>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Mstaff 2019</p>
            </div>
        </footer>
        {{> scripts }}
        {{> modals }}
    </body>
</html>
