<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- meta facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="">
    <meta property="og:description" content=""/>
    <meta name="msapplication-TileImage" content="/assets/images/PICTO.png">
    <meta name="csrf-token" content="{{csrfToken}}">
    <meta name="debug" content="{{frontDebug}}">

    <title>{{es.name}}{{group.name}} | Mstaff</title>

    <!-- icons -->
    <link rel="icon" href="/assets/images/PICTO.png" sizes="32x32">
    <link rel="icon" href="/assets/images/PICTO.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/PICTO.png">

    <!-- external css -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Work+Sans&display=swap" rel="stylesheet">

    <link href="/assets/css/fa.all.css" rel="stylesheet">

    <!-- theme -->
    <link rel="stylesheet" href="/assets/theme/mstaff/css/style.min.css">
    {{#if themeLayoutCSSImport}}<link rel="stylesheet" href="/assets/theme/mstaff/css/layout/{{layoutName}}.min.css">{{/if}}
    {{#if themePageCSSImport}}<link rel="stylesheet" href="/assets/theme/mstaff/css/pages/{{pageName}}.min.css">{{/if}}
    {{{block "stylesheets"}}}
</head>
<body class="page-{{pageName}} layout-{{layoutName}} has-header">
    {{{block "body"}}}

    <script src="/assets/theme/mstaff/lib/jquery-3.4.1.min.js"></script>
    {{#if themeLayoutJSImport}}<script src="/assets/theme/mstaff/js/layout/{{layoutName}}.js"></script>{{/if}}
    {{#if themePageJSImport}}<script src="/assets/theme/mstaff/js/pages/{{pageName}}.js"></script>{{/if}}
    {{{block "scripts"}}}
    {{{block "bodyend"}}}
</body>
</html>