<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- meta facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="">
    <meta property="og:description" content=""/>
    <meta name="msapplication-TileImage" content="/assets/images/PICTO.png">
    <meta name="csrf-token" content="{{csrfToken}}">
    <meta name="debug" content="{{frontDebug}}">

    <title>{{es.name}}{{group.name}} | Mstaff</title>

    <link rel="icon" href="/assets/images/PICTO.png" sizes="32x32">
    <link rel="icon" href="/assets/images/PICTO.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/PICTO.png">

    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/theme/mstaff/css/style.css">
</head>
<body class="page{{pageName}}">
<div class="container-fluid">
    {{{body}}}
</div>
</body>
</html>