<style>
  .checkbox label::before {
    content: "";
    margin-top: 20px;
    transform: scale(1.5);
  }

  .checkbox label::after {
    top: 19px;
    font-size: 21px;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .list-inline > li {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .fa-1d3x {
    font-size: 1.3em;
  }

  .card-user {
    min-height: 380px;
    height: auto;
    margin-top: 20px;
  }

  .profile-cta {
    position: absolute;
    bottom: 0;
  }
</style>
<script>
  let esId = {{user.opts.currentEs}};
  let list = [{{#each posts as |post|}}"{{{post.name}}}",{{/each}}];
  let baseCVCount = {{candidatesCount.length}};
  let need = {
    selectedCandidates: [ {{#each need.candidates as |candidate|}}{{candidate.candidate_id}},{{/each}} ],
    firstSearch: {{#if need}}false{{else}}true{{/if}},
    filterQuery: {
      establishments: [esId]
    }
  };
</script>
<div class="col-md-12">
  <h1 class="text-center">Vous avez accès à <span class="badge badge-soft-primary" id="cvCount">{{candidatesCount.length}}</span> professionnels au sein de votre CVthèque.</h1>
  <h4 id="searchCount" class="text-center" style="display: none;"></h4>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-12 col-md-8 col-lg-8">
    <div class="form-group">
      <div class="searchbar-wrapper">
        <div style="border: 1px solid #DDD" class="searchbar-wrapper-input">
          <input placeholder="Indiquez un type de poste" style="border: 0px" id="post" type="text"
                 class="form-control float-left" autocomplete="off" value="{{need.post}}">
          <div>
            <button onclick="resetSearch()" id="resetSearch" data-toggle="tooltip" data-placement="top"
                    data-original-title="Réinitialiser ma recherche" class="btn btn-outline-warning float-right"
                    style="{{#unless need}}display: none;{{/unless}}margin-left: 5px;">
              <i class="fal fa-undo-alt"></i>
            </button>
            <button id="saveNeed" {{#if need.id}}data-need-id="{{need.id}}"{{/if}} class="btn btn-outline-success float-right"
                    data-toggle="tooltip" data-placement="top" data-original-title="Enregistrer ma recherche"
                    style="{{#unless need}}display: none;{{/unless}}margin-left: 5px;">
              <i class="fal fa-save"></i>
            </button>
            <button id="searchCandidates" class="btn btn-large btn-outline-primary float-right">
              Rechercher
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12" id="criteria">
    <div class="col-md-12 text-center">
      <button class="btn btn-outline-info" onclick="return showServiceModal()">
        Service <span id="btnServiceType">{{need.service}}</span>
      </button>
      <button class="btn btn-outline-info" onclick="return showContractModal()">
        Contrat <span id="btnContractType" style="text-transform: uppercase">{{need.contract_type}}</span>
      </button>
      <button class="btn btn-outline-info" onclick="return showTimeModal()">
        Période <span id="btnTimeType">{{#if need.start}}{{date need.start 'DD/MM/YYYY'}}{{/if}}{{#if need.end}} - {{date need.end 'DD/MM/YYYY'}}{{/if}}</span>
      </button>
      <button class="btn btn-outline-info" onclick="return showDiplomaModal()">
        Diplômes Complémentaires <span id="btnDiplomaType">{{need.diploma}}</span>
      </button>
    </div>
    <div class="text-center" style="padding: 10px">
      <i class="fal fa-archive fa-2x Show" id="showArchived" onclick="showArchived()" style="cursor: pointer; margin-left: 5px; color:#9e9e9e"
         data-toggle="tooltip" data-placement="top" data-original-title="Afficher uniquement mes candidats archivés" title="Afficher uniquement mes candidats archivés"></i>
      <i class="fal fa-star fa-2x Show" id="showFavorites" onclick="showFavorites()" style="cursor: pointer; color:#9e9e9e"
         data-toggle="tooltip" data-placement="top" data-original-title="Afficher uniquement mes favoris" title="Afficher uniquement mes favoris"></i>
    </div>
  </div>
</div>

<div class="row">
  <div id="baseResult" class="col-md-12" {{#if need}}style="display: none"{{/if}}>
    <div class="col-12" id="loadingCandidates">
      <h1 class="text-center" style="padding-top: 30px">
        Chargement de vos candidats en cours...
        <div class="spinner-border text-primary text-center" role="status">
          <span class="sr-only">Veuillez patienter quelques instants</span>
        </div>
      </h1>
    </div>
  </div>
  <div id="searchResult" class="col-12" style="display:none"></div>
  <div id="myCandidates" class="col-12" style="display:none"></div>
</div>
<div class="col-12" id="paginationContainer"{{#if need}} style="display: none"{{/if}}>
  <nav class="col-12 mt-3">
    <ul class="pagination pagination-lg">
    </ul>
  </nav>
</div>
<div class="modal modal-xs fade" id="candidateProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Profile de</div>
      <div class="modal-body" id="candidateProfileModalBody"></div>
      <div class="modal-footer">Fermer</div>
    </div>
  </div>
</div>
<select class="form-control" id="selectServiceType" data-live-search="true"
        title="Séléctionner un type de service" style="display: none">
  {{#each services as |service|}}
    <option value="{{service.id}}" data-categorie="{{service.categoriesPS_id}}">{{service.name}}</option>
  {{/each}}
</select>
<select class="form-control" id="selectDiplomaType" data-live-search="true"
        title="Séléctionner un diplôme" style="display: none">
  {{#each formations as |formation|}}
    <option value="{{formation.id}}">{{formation.name}}</option>
  {{/each}}
</select>
<script src="/static/assets/dist/js/addNeed.es.min.js"></script>
<script>
  let size = 52;
    {{#if need}}
    $(document).ready(() => {
      need.name = '{{need.name}}';
      need.id = {{need.id}};
      {{#if need.contract_type}}
        need.filterQuery.contractType = '{{need.contract_type}}';
      {{/if}}
      {{#if need.service}}
        need.filterQuery.service = '{{need.service}}';
      {{/if}}
      {{#if need.diploma}}
        need.filterQuery.diploma = '{{need.diploma}}';
      {{/if}}
      need.filterQuery.timeType = {
        {{#if need.start}} dateStart: new Date('{{need.start}}'),{{/if}}
        {{#if need.end}} dateEnd: new Date('{{need.end}}'),{{/if}}
      };
      {{#if need.candidates}}
        need.selectedCandidates.forEach(id => {
          $(`.selectCandidate[data-id="${id}"]`).hide();
          $(`.unselectCandidate[data-id="${id}"]`).show();
        });
      {{/if}}
      searchCandidates();
    });
    {{/if}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.js"></script>