<style>
  span.multiselect-native-select{position:relative}span.multiselect-native-select select{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px -1px -1px -3px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;left:50%;top:30px}.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container .multiselect-reset .input-group{width:93%}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.checkbox,.multiselect-container>li>a>label.radio{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}
</style>
<style>
  .checkbox label::before {
    content: "";
    margin-top: 20px;
    transform: scale(1.5);
  }

  .checkbox label::after {
    top: 19px;
    font-size: 21px;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .list-inline > li {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .fa-1d3x {
    font-size: 1.3em;
  }

  .card-user {
    min-height: 380px;
    height: auto;
    margin-top: 20px;
  }

  .profile-cta {
    position: absolute;
    bottom: 0;
  }
  .multiselect-container>li>a>label {
    padding: 4px 20px 3px 20px;
  }
</style>
<script>
  let esId = {{user.opts.currentEs}};
  let esList = [{{#each esList as |account|}}{{account.Establishment.id}},{{/each}}];
  let list = [{{#each posts as |post|}}"{{{post.name}}}",{{/each}}];
  let baseCVCount = {{candidatesCount.length}};
  let need = {
    selectedCandidates: [ {{#each need.candidates as |candidate|}}{{candidate.candidate_id}},{{/each}} ],
    firstSearch: {{#if need}}false{{else}}true{{/if}},
    filterQuery: {
      establishments: [esId]
    }
  };
</script>
<div class="col-md-12">
  <h1 class="text-center">Vous avez accès à <span class="badge badge-soft-primary" id="cvCount">{{candidatesCount.length}}</span> professionnels au sein de votre CVthèque.</h1>
  <h4 id="searchCount" class="text-center" style="display: none;"></h4>
  <div id="selectAllSearch" class="text-center p-4" style="display: none;">
    <div class="text-center">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="searchSelectAll">
        <label class="custom-control-label" for="searchSelectAll">Sélectionner tous</label>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-12 col-md-8 col-lg-8">
    <div class="form-group">
      <div class="searchbar-wrapper">
        <div style="border: 1px solid #DDD" class="searchbar-wrapper-input">
          <input placeholder="Indiquez un type de poste" style="border: 0px" id="post" type="text"
                 class="form-control float-left" autocomplete="off" value="{{need.post}}">
          <div>
            <button onclick="resetSearch()" id="resetSearch" data-toggle="tooltip" data-placement="top"
                    data-original-title="Réinitialiser ma recherche" class="btn btn-outline-warning float-right"
                    style="{{#unless need}}display: none;{{/unless}}margin-left: 5px;">
              <i class="fal fa-undo-alt"></i>
            </button>
            <button id="saveNeed" {{#if need.id}}data-need-id="{{need.id}}"{{/if}} class="btn btn-outline-success float-right"
                    data-toggle="tooltip" data-placement="top" data-original-title="Enregistrer ma recherche"
                    style="{{#unless need}}display: none;{{/unless}}margin-left: 5px;">
              <i class="fal fa-save"></i>
            </button>
            <button id="searchCandidates" class="btn btn-large btn-outline-primary float-right">
              Rechercher
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 checkbox">
    <input id="searchType" type="checkbox" style="visibility: hidden">
    <i id="checkbox" class="fal fa-square fa-1d3x" onclick="changeCheckboxState()" style="color: red; font-weight: 500; font-size: 1em; cursor: pointer"> Recherche par nom de famille</i>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12" id="criteria">
    <div class="col-md-12 text-center">
      <button id="btnFilters" class="btn btn-{{#unless need.service}}outline-{{/unless}}info" onclick="return showServiceModal()">
        Service <span id="btnServiceType">{{need.service}}</span>
      </button>
      <button id="btnFilters" class="btn btn-{{#unless need.contract_type}}outline-{{/unless}}info" onclick="return showContractModal()">
        Contrat <span id="btnContractType" style="text-transform: uppercase">{{need.contract_type}}</span>
      </button>
      <button id="btnFilters" class="btn btn-{{#unless need.start}}outline-{{/unless}}info" onclick="return showTimeModal()">
        Période <span id="btnTimeType">{{#if need.start}}{{date need.start 'DD/MM/YYYY'}}{{/if}}{{#if need.end}} - {{date need.end 'DD/MM/YYYY'}}{{/if}}</span>
      </button>
      <button id="btnFilters" class="btn btn-{{#unless need.diploma}}outline-{{/unless}}info" onclick="return showDiplomaModal()">
        Diplômes Complémentaires <span id="btnDiplomaType">{{need.diploma}}</span>
      </button>
      <button id="btnFilters" class="btn btn-{{#unless need.is_available}}outline-{{/unless}}info" onclick="return showAvailabilityModal()">
        Disponibilité <span id="btnAvailability">{{#ifCond need.is_available '===' 'true'}}Disponible{{/ifCond}}{{#ifCond need.is_available '===' 'false'}}Indisponible{{/ifCond}}</span>
      </button>
      <button id="btnFilters" class="btn btn-{{#unless need.postal_code}}outline-{{/unless}}info" onclick="return showPostalCodeModal()">
        Code Postal <span id="btnPostalCode">{{need.postal_code}}</span>
      </button>
      <select id="esList" multiple="multiple">
        {{#each esList as |account|}}
          <option value="{{account.Establishment.id}}" {{#ifCond account.Establishment.id '==' @root.user.opts.currentEs}}selected="selected"{{/ifCond}}>
            {{account.Establishment.name}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="text-center" style="padding: 10px">
      <i class="fal fa-archive fa-2x Show" id="showArchived" onclick="showArchived()" style="cursor: pointer; margin-left: 5px; color:#9e9e9e"
         data-toggle="tooltip" data-placement="top" data-original-title="Afficher uniquement mes candidats archivés" title="Afficher uniquement mes candidats archivés"></i>
      <i class="fal fa-star fa-2x Show" id="showFavorites" onclick="showFavorites()" style="cursor: pointer; color:#9e9e9e"
         data-toggle="tooltip" data-placement="top" data-original-title="Afficher uniquement mes favoris" title="Afficher uniquement mes favoris"></i>
    </div>
  </div>
</div>

<div class="row">
  <div id="baseResult" class="col-md-12" {{#if need}}style="display: none"{{/if}}>
    <div class="col-12" id="loadingCandidates">
      <h1 class="text-center" style="padding-top: 30px">
        Chargement de vos candidats en cours...
        <div class="spinner-border text-primary text-center" role="status">
          <span class="sr-only">Veuillez patienter quelques instants</span>
        </div>
      </h1>
    </div>
  </div>
  <div id="searchResult" class="col-12" style="display:none"></div>
  <div id="myCandidates" class="col-12" style="display:none"></div>
</div>
<div class="col-12" id="paginationContainer"{{#if need}} style="display: none"{{/if}}>
  <nav class="col-12 mt-3">
    <ul class="pagination pagination-lg">
    </ul>
  </nav>
</div>
<div class="modal modal-xs fade" id="candidateProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Profile de</div>
      <div class="modal-body" id="candidateProfileModalBody"></div>
      <div class="modal-footer">Fermer</div>
    </div>
  </div>
</div>
<select class="form-control" id="selectServiceType" data-toggle="" data-live-search="true"
        title="Séléctionner un type de service" style="display: none">
  <option>Séléctionner un type de service</option>
  {{#each services as |service|}}
    <option value="{{service.id}}" data-categorie="{{service.categoriesPS_id}}">{{service.name}}</option>
  {{/each}}
</select>
<select class="form-control" id="selectDiplomaType" data-live-search="true"
        title="Séléctionner un diplôme" style="display: none">
  <option>Séléctionner un diplôme</option>
  {{#each formations as |formation|}}
    <option value="{{formation.id}}">{{formation.name}}</option>
  {{/each}}
</select>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
<script src="/static/assets/dist/js/addNeed.es.min.js"></script>
<script>
  let size = 52;
    {{#if need}}
    $(document).ready(() => {
      need.name = '{{need.name}}';
      need.id = {{need.id}};
      {{#if need.contract_type}}
        need.filterQuery.contractType = '{{need.contract_type}}';
      {{/if}}
      {{#if need.service}}
        need.filterQuery.service = '{{need.service}}';
        need.filterQuery.serviceId = $('#selectServiceType').find('option[text="{{need.service}}"]').val();
      {{/if}}
      {{#if need.diploma}}
        need.filterQuery.diploma = '{{need.diploma}}';
      {{/if}}
      {{#if need.is_available}}
        need.filterQuery.is_available = {{need.is_available}};
      {{/if}}
      {{#if need.postal_code}}
        need.filterQuery.postal_code = '{{need.postal_code}}';
      {{/if}}
      need.filterQuery.timeType = {
        {{#if need.start}} dateStart: new Date('{{need.start}}'),{{/if}}
        {{#if need.end}} dateEnd: new Date('{{need.end}}'),{{/if}}
      };
      {{#if need.candidates}}
        need.selectedCandidates.forEach(id => {
          $(`.selectCandidate[data-id="${id}"]`).hide();
          $(`.unselectCandidate[data-id="${id}"]`).show();
        });
      {{/if}}
      searchCandidates();
    });
    {{/if}}
</script>