<link href='/static/assets/css/fullcalendar/core/main.css' rel='stylesheet' />
<link href='/static/assets/css/fullcalendar/daygrid/main.css' rel='stylesheet' />
<link href='/static/assets/css/fullcalendar/timegrid/main.css' rel='stylesheet' />
<link href='/static/assets/css/fullcalendar/list/main.css' rel='stylesheet' />
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="card card-calendar">
			<div class="card-content">
				<div id="fullCalendar"></div>
			</div>
		</div>
	</div>
</div>
<script src='/static/assets/js/fullcalendar/core/main.js'></script>
<script src='/static/assets/js/fullcalendar/core/locales-all.js'></script>
<script src='/static/assets/js/fullcalendar/interaction/main.js'></script>
<script src='/static/assets/js/fullcalendar/daygrid/main.js'></script>
<script src='/static/assets/js/fullcalendar/timegrid/main.js'></script>
<script src='/static/assets/js/fullcalendar/list/main.js'></script>
<script>
	let $calendar = document.getElementById('fullCalendar');
	today = new Date();
	y = today.getFullYear();
	m = today.getMonth();
	d = today.getDate();

	let calendar = new FullCalendar.Calendar($calendar, {
    plugins: ['interaction', 'dayGrid', 'timeGrid', 'list' ],
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridMonth,timeGridDay,listMonth'
    },
    eventClick: (info) => {
      let id = info.event.id;
      $.get(`/api/es/{{session.currentEs}}/conference/${id}`, conference => {
        createModal({
          title: 'Voir un évenement',
          modal: 'es/conference/view',
          id: 'viewConferenceModal',
          context: {
            conference
          }
        })
      }).catch(error => errorsHandler(error));
    },
    locale: 'fr',
    buttonIcons: true,
    weekNumbers: false,
    navLinks: true,
    editable: false,
    eventLimit: true,
		events: [
      {{#each conferences as |conference|}}
        {
          id: {{conference.id}},
          title: 'Entretien {{#ifCond conference.type '===' 'online'}}en ligne{{else}}physique{{/ifCond}}',
          start: new Date('{{conference.date}}'),
          allDay: false,
          url: '#',
          textColor: 'black',
          color: "{{#ifCond conference.type '===' 'online'}}blue{{else}}orange{{/ifCond}}",
        },
      {{/each}}
		]
	});

  calendar.render();
</script>