<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left"><i class="fal fa-search" aria-hidden="true"></i> Mes besoins</h4>
        <hr style="width:90%; margin-top: 14px;">
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12 table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr class="info">
                <th>Besoin</th>
                <th>Détail du contrat</th>
                <th>Candidats</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody id="applicationTbody">
              {{#if needs}}
                {{#each needs as |need|}}
                  <tr data-applicationId="{{need.id}}">
                    <td>{{need.name}}</td>
                    <td>
                      <div class="label-container">
                        <div class="label label-default">{{need.post}}</div>
                        <div class="label label-warning">
                          {{need.contract_type}}
                        </div>
                        <div class="label label-success ">
                          {{date need.start 'DD/MM/YYYY'}}
                        </div>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-info">
                        <i class="fal fa-user" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'pre-selected'}}
                      </button>
                      <button class="btn btn-warning">
                        <i class="fal fa-clock" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'notified'}}
                      </button>
                      <button class="btn btn-success">
                        <i class="fal fa-check-circle" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'selected'}}
                      </button>
                      <button class="btn btn-danger">
                        <i class="fal fa-ban" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'deleted'}}
                      </button>
                    </td>
                    <td>
                      <a class="btn btn-simple btn-success btn-icon" href="/need/{{need.id}}">
                        <i class="fal fa-eye"></i>
                      </a>
                      <button class="btn btn-simple btn-warning btn-icon editApplication" data-id="{{need.id}}">
                        <i class="ti-pencil-alt"></i>
                      </button>
                      <button class="btn btn-simple btn-danger btn-icon removeApplication" data-id="{{need.id}}">
                        <i class="ti-close"></i>
                      </button>
                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr class="text-center noNeeds">
                  <td colspan="5">Aucune donnée disponible</td>
                </tr>
              {{/if}}
              </tbody>
            </table>
            <hr>
            <a href="/candidates" class="btn btn-success pull-right" style="margin-bottom: 5px;">
              <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //initialize instance
  let enjoyhint_instance = new EnjoyHint({});

  //simple config.
  //Only one step - highlighting(with description) "New" button
  //hide EnjoyHint after a click on the button.
  let enjoyhint_script_steps = [
    {
      'click .addNeed' : 'Cliquez sur le boutton "Ajouter" pour commencer à créer un besoin.'
    }
  ];

  //set script config
  enjoyhint_instance.set(enjoyhint_script_steps);

  //run Enjoyhint script
  enjoyhint_instance.run();
</script>
