<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title pull-left"><i class="fal fa-search" aria-hidden="true"></i> Mes besoins</h3>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12 table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr class="info">
                <th>Besoin</th>
                <th>Détail du contrat</th>
                <th>Candidats</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody id="applicationTbody">
              {{#if needs}}
                {{#each needs as |need|}}
                  <tr data-applicationId="{{need.id}}">
                    <td>
                      <h2>{{need.name}}</h2>
                      <span class="text-muted">Créé le {{date need.createdAt 'DD/MM/YYYY'}} par {{need.User.firstName}} {{need.User.lastName}}</span>
                    </td>
                    <td>
                      <div class="label-container">
                        {{#if need.post}}
                          <div class="label label-default">{{need.post}}</div>
                        {{/if}}
                        {{#if need.contract_type}}
                          <div class="label label-warning">
                            {{need.contract_type}}
                          </div>
                        {{/if}}
                        {{#if need.start}}
                          <div class="label label-success">
                            {{date need.start 'DD/MM/YYYY'}}
                            {{#if need.end}} - {{date need.end 'DD/MM/YYYY'}}{{/if}}
                          </div>
                        {{/if}}
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-info">
                        <i class="fal fa-user" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'pre-selected'}}
                      </button>
                      <button class="btn btn-warning">
                        <i class="fal fa-clock" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'notified'}}
                      </button>
                      <button class="btn btn-success">
                        <i class="fal fa-check-circle" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'selected'}}
                      </button>
                      <button class="btn btn-danger">
                        <i class="fal fa-ban" aria-hidden="true"></i>
                        {{countInObject need.candidates 'status' 'deleted'}}
                      </button>
                    </td>
                    <td>
                      <a class="btn btn-simple btn-outline-success btn-icon" href="/need/{{need.id}}">
                        <i class="fal fa-eye"></i>
                      </a>
                      <a class="btn btn-simple btn-outline-warning btn-icon editApplication" href="/need/{{need.id}}/edit">
                        <i class="ti-pencil-alt"></i>
                      </a>
                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr class="text-center noNeeds">
                  <td colspan="5">Aucune donnée disponible</td>
                </tr>
              {{/if}}
              </tbody>
            </table>
            <hr>
            <div class="col-12">
              <a href="/candidates" class="btn btn-success float-right" style="margin-bottom: 5px;">
                <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>