<div class="row" id="es-container">
  {{#each esAccounts as |account|}}
    {{ log account }}
    <div class="col-4 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="text-left">
            {{#if account.SuperGroup.name}}
            <span class="badge badge-primary"> Supergroupe </span>
            {{else if account.Group.name}}
              <span class="badge badge-success"> Groupe </span>
            {{ else }}
              <span class="badge badge-info">Etablissement</span>
            {{/if}}
          </div>
          <div class="text-center">
            <span class="card-avatar avatar avatar-lg mx-auto">
              {{#if account.Establishment.logo}}
                <img alt="Logo {{account.Establishment.name}}" src="{{account.Establishment.logo}}" class="avatar-img rounded">
              {{else}}
                <img alt="Logo {{account.Establishment.name}}" src="/assets/images/default_hospital.jpg" class="avatar-img rounded">
              {{/if}}
            </span>
          </div>
          <h2 class="card-title text-center mb-3">
            <a href="/select/es/{{account.Establishment.id}}">{{account.Establishment.name}}</a>
          </h2>
          <div class="text-center">
            {{#if account.SuperGroup.name}}
              <small> {{account.SuperGroup.name}} - {{account.Group.name}}</small>
            {{else if account.Group.name}}
              <small> {{account.Group.name}}</small>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>