<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">{{need.name}}</h2>
      <div class="label-container">
        {{#if need.post}}
          <div class="badge badge-secondary">{{need.post}}</div>
        {{/if}}
        {{#if need.contract_type}}
          <div class="badge badge-warning">
            {{need.contract_type}}
          </div>
        {{/if}}
        {{#if need.start}}
          <div class="badge badge-success ">
            {{date need.start 'DD/MM/YYYY'}}
            {{#if need.end}} - {{date need.end 'DD/MM/YYYY'}}{{/if}}
          </div>
        {{/if}}
        {{#if need.service}}
          <div class="badge badge-primary">
            {{need.service}}
          </div>
        {{/if}}
      </div>
      <a class="btn btn-outline-primary col-2" id="searchNewCandidates" href="/need/{{need.id}}/edit">Recherche de
        nouveaux candidats en cours</a> {{!--// aucun nouveau candidats--}}
      <button type="button" class="btn btn-outline-warning col-2 ml-2" style="margin-left: 3px"
              onclick="closeNeed({{need.id}})">
        Clôturer le besoin
      </button>
    </div>
    <div class="card-body" style="margin-top: -10px">
      <div class="row">
        <div class="col-md-12" style="padding: 25px;">
          <div class="drag-container">
            <ul class="drag-list">
              <li class="drag-column drag-column-on-hold">
                <span class="drag-column-header">
                  <h5>Pré-séléctionnés</h5>
                </span>
                <ul class="drag-inner-list" id="1">
                  {{#each need.candidates as |data|}}
                    {{#ifCond data.status '===' 'pre-selected'}}
                      {{> es/kanban-card data}}
                    {{/ifCond}}
                  {{/each}}
                </ul>
              </li>
              <li class="drag-column drag-column-in-progress">
                  <span class="drag-column-header">
                    <h5>Notifiés</h5>
                  </span>
                <ul class="drag-inner-list" id="2">
                  {{#each need.candidates as |data|}}
                    {{#ifCond data.status '===' 'notified'}}
                      {{> es/kanban-card data}}
                    {{/ifCond}}
                  {{/each}}
                </ul>
              </li>
              <li class="drag-column drag-column-approved">
                  <span class="drag-column-header">
                    <h5>Sélectionnés</h5>
                  </span>
                <ul class="drag-inner-list" id="3">
                  {{#each need.candidates as |data|}}
                    {{#ifCond data.status '===' 'selected'}}
                      {{> es/kanban-card data }}
                    {{/ifCond}}
                  {{/each}}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<script>
  let feedback = {};
  let showNotifyModalObject = {
    id: 'showNotifyCandidateModal',
    modal: 'es/showNotifyCandidate',
    cantBeClose: true,
    title: '<img style="height: 75px;" src="{{need.Establishment.logo}}" />',
    Establishment: {
      address: '{{need.Establishment.address}}',
      postal_code: '{{need.Establishment.postal_code}}',
      town: '{{need.Establishment.town}}',
    },
    Need: {
      contractType: '{{need.contract_type}}',
      start: '{{need.start}}',
      end: '{{need.end}}'
    }
  };
  let esId = {{need.es_id}};
  let nId = {{need.id}};
</script>
<script src="/assets/dist/js/rh/showNeed.es.min.js"></script>