<div class="col-md-12">
  <div class="text-center" style="padding: 15px">
    {{#if this.image}}<div style="padding: 15px;margin-top: -5%;"><img src="{{image}}" style="width: 45px;" /></div>{{/if}}
    <b>{{breaklines this.title}}</b>
  </div>
  <hr style="width: 25%; border-color: dimgrey">
  {{#if this.fromEs}}
    {{#ifCond this.opts.type '===' 'NeedNotifyCandidate'}}
      {{#if @root.opts.details}}
        <div class="text-center" style="padding: 15px">
          <h5>Pour quel poste ?</h5>
          <span class="text-muted">{{@root.opts.details.post}}</span>
          <h5>Pour quel type de contrat ? </h5>
          <span class="text-muted">
            {{@root.opts.details.contract}}
            {{#if @root.opts.details.start}}à partir du {{date @root.opts.details.start 'DD/MM/YYYY'}}{{/if}}
            {{#if @root.opts.details.end}} jusqu'au {{date @root.opts.details.end 'DD/MM/YYYY'}}{{/if}}
          </span>
        </div>
      {{/if}}
      {{#if @root.opts.message}}
        <hr style="width: 25%; border-color: dimgrey">
        <div class="text-center" style="padding: 15px">
          <b>Message du recruteur</b><br>
          <p>
            {{breaklines @root.opts.message}}
          </p>
        </div>
      {{/if}}
    {{/ifCond}}
    {{#ifCond this.opts.type '===' 'NeedNotifyClosedCandidate'}}
      {{#if @root.opts.details}}
        <div class="text-center" style="padding: 15px">
          <span class="text-muted">{{@root.opts.details.post}}</span>
          <span class="text-muted">
            {{@root.opts.details.contract}}
            {{#if @root.opts.details.start}}à partir du {{date @root.opts.details.start 'DD/MM/YYYY'}}{{/if}}
            {{#if @root.opts.details.end}} jusqu'au {{date @root.opts.details.end 'DD/MM/YYYY'}}{{/if}}
          </span>
        </div>
      {{/if}}
        <div class="text-center" style="padding: 15px">
          <b>Ne vous découragez pas ! 💪</b><br><br>
          <a href="/applications" class="btn btn-success">Accéder à mes candidatures</a>
        </div>
    {{/ifCond}}
  {{/if}}
  {{#if this.opts.actions}}
    <div class="text-center" style="padding: 15px">
      {{#each this.opts.actions as |button| }}
        <button class="btn btn-{{button.type}} notificationCTA" {{{button.dataAttr}}}>{{button.text}}</button>
      {{/each}}
      <script>
      </script>
    </div>
  {{/if}}
</div>