<div class="modal animated pulse fade" id="{{this.id}}" role="dialog">
  <div class="modal-dialog {{this.size}}" style="{{this.style}}">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">{{{this.title}}}</h4>
        {{#unless this.cantBeClose}}<button type="button" class="close" data-dismiss="modal">&times;</button>{{/unless}}
      </div>
      {{#if this.modal}}
        {{> (partial this.modal)}}
      {{else}}
        <div class="modal-body">
          <div class="col-12">
            {{{this.text}}}
          </div>
        </div>
        <div class="modal-footer">
          {{#unless this.actions}}
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
          {{else}}
            {{#each this.actions as |action|}}
              {{{action}}}
            {{/each}}
          {{/unless}}
        </div>
      {{/if}}
    </div>
  </div>
</div>