{{#each this}}

    <table data-key="{{@key}}"
           {{#unless @first}}style="display:none"{{/unless}} class="text-center table table-striped col-md-12">
        <thead>
        <tr>
            <th><i class="fal fa-arrow-circle-left toleft"></i></th>
            <th class="text-center" colspan="7">{{@key}}</th>
            <th><i class="fal fa-arrow-circle-right toright"></i></th>
        </tr>
        <tr data-tr="{{@key}}">
            <td>Lundi</td>
            <td>Mardi</td>
            <td>Mercredi</td>
            <td>Jeudi</td>
            <td>Vendredi</td>
            <td>Samedi</td>
            <td>Dimanche</td>
        </tr>
        </thead>
        <tbody data-tbody="{{@key}}">
            <tr>
            {{#each this}}
                {{#if @first}}{{#repeat this}}<td></td>{{/repeat}}
                {{else}}
                    <td>
                        <div data-day="{{@index}}" class="col-md-12">{{@index}}</div>
                        <span><i class="fal fa-sun fa-2x"></i><i class="fal fa-moon fa-2x"></i></span>
                    </td>
                {{/if}}
                {{#ifCond this '===' '0'}}</tr><tr>{{/ifCond}}
                {{#if @last}}
                        <td>
                            <div data-day="{{../this.length}}" class="col-md-12">{{../this.length}}</div>
                            <span><i class="fal fa-sun fa-2x"></i><i class="fal fa-moon fa-2x"></i></span>
                        </td>
                {{/if}}
            {{/each}}

            </tr>
        </tbody>
    </table>
{{/each}}