<style>
  .checkbox label::before {
    content: "";
    margin-top: 20px;
    transform: scale(1.5);
  }

  .checkbox label::after {
    top: 19px;
    font-size: 21px;
  }

  .nav-tabs .nav-item:first-child {
    margin-left: 15%;
  }
  .display-none{
    display: none;
  }
</style>
<link rel="stylesheet" href="/assets/css/nouislider.css"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css"/>
<div class="row">
  <div class="col-lg-12 col-12">
    <div class="wizard card">
      <div class="card-header wizard-inner">
        <ul class="nav nav-tabs row justify-content-between" role="tablist">
          <li role="presentation" class="active nav-item col-1 ml-5">
            <a class="tabWizard" href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Contrat">
              <span class="round-tab">
                <i class="fal fa-handshake"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled nav-item col-1 m-0">
            <a class="tabWizard" href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
               title="Disponibilités">
              <span class="round-tab">
                <i class="fal fa-calendar-check"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled nav-item col-1 m-0">
            <a class="tabWizard" href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
               title="Établissements">
              <span class="round-tab">
                <i class="fal fa-hospital"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled nav-item col-1 mr-5">
            <a class="tabWizard" href="#complete" data-toggle="tab" aria-controls="complete" role="tab"
               title="Validation">
              <span class="round-tab">
                <i class="fal fa-check"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <form role="form">
        <div class="tab-content" style="padding:30px">
          <div class="tab-pane active" role="tabpanel" id="step1">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="text-bold">Sélectionnez votre type de contrat</h1>
              </div>
            </div>
            <hr>

            <div id="contractDurability" class="row">
              <div class="col-sm-3">
                <h2 class="text-bold mt-5">Que recherchez-vous ?*:</h2>
              </div>
              <div class="col-sm-9 row">
                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h1 class="card-title">Un travail durable</h1>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="durableContract" name="durableContract">
                      <label class="custom-control-label" for="durableContract"></label>
                    </div>
                  </div>

                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h1 class="card-title">Des missions ponctuelles</h1>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="punctualContract" name="punctualContract">
                      <label class="custom-control-label" for="punctualContract"></label>
                    </div>
                  </div>

                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h1 class="card-title">Stage</h1>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="internship" name="internship">
                      <label class="custom-control-label" for="internship"></label>
                    </div>
                  </div>
              </div>
              <div class="col-12">
                <hr>
              </div>
            </div>


            <div id="contractDurableType" class="row">
              <div class="col-sm-3">
                <h2 class="text-bold mt-5">Type de contrat *:</h2>
              </div>
              <div class="col-sm-9 row">

                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h3 class="card-title mb-2">CDI</h3>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="cdi" name="CDI">
                      <label class="custom-control-label" for="cdi"></label>
                    </div>
                  </div>
                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h3 class="card-title mb-2">Apprentissage / Contrat Pro</h3>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="cp" name="CP">
                      <label class="custom-control-label" for="cp"></label>
                    </div>
                  </div>
                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h3 class="card-title mb-2">Collaboration Libérale</h3>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="cl" name="CL">
                      <label class="custom-control-label" for="cl"></label>
                    </div>
                  </div>
                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h3 class="card-title mb-2">Installation / Association Libérale</h3>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="al" name="AL">
                      <label class="custom-control-label" for="al"></label>
                    </div>
                  </div>
                  <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                    <h3 class="card-title mb-2">Reprise Cabinet Libéral</h3>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="rcl" name="RCL">
                      <label class="custom-control-label" for="rcl"></label>
                    </div>
                  </div>

              </div>
              <div class="col-12">
                <hr>
              </div>
            </div>

            <div id="contractPunctualType" class="row">
              <div class="col-sm-3">
                <h2 class="text-bold mt-5">Type de contrat *:</h2>
              </div>
              <div class="col-sm-9 row">
                <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                  <h3 class="card-title mb-2">Missions / Vacations / CDD</h3>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="cdd" name="CDD">
                    <label class="custom-control-label" for="cdd"></label>
                  </div>
                </div>
                <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                  <h3 class="card-title mb-2">Remplacement Libéral</h3>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="rl" name="RL">
                    <label class="custom-control-label" for="rl"></label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr>
              </div>
            </div>


            <div id="activityType" class="row" style="display: none;">
              <div class="col-sm-3 mt-3">
                <h2 class="text-bold">Type d'activité *:</h2>
              </div>
              <div class="col-sm-9 row">
                <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                  <h3 class="card-title mb-2">Temps plein</h3>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="full_time" name="full_time">
                    <label class="custom-control-label" for="full_time"></label>
                  </div>
                </div>
                <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                  <h3 class="card-title mb-2">Temps partiel</h3>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="part_time" name="part_time">
                    <label class="custom-control-label" for="part_time"></label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr>
              </div>
            </div>

            <div id="timeType" class="row" style="display: none;">
              <div class="col-sm-3 mt-3">
                <h2 class="text-bold">Aménagement horaire *:</h2>
              </div>
              <div class="col-sm-9 row">
                <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                  <h3 class="card-title mb-2">Jour</h3>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="daytime" name="daytime">
                    <label class="custom-control-label" for="daytime"></label>
                  </div>
                </div>
                <div class="form-group col-4 d-flex flex-column justify-content-center text-center">
                  <h3 class="card-title mb-2">Nuit</h3>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="nighttime" name="nighttime">
                    <label class="custom-control-label" for="nighttime"></label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr>
              </div>
            </div>
            <div id="postType" class="row">
              <div class="col-3">
                <h2 class="text-bold mt-5">Type de poste *:</h2>
              </div>
              <div class="col-9">
                <div class="form-group col-8" style="margin-top: 25px">
                  <select class="form-control" id="selectPostType">
                    <option>Sélectionnez un poste ci-dessous</option>
                    {{#each posts as |post|}}
                      <option value="{{post.id}}" data-categorie="{{post.categoriesPS_id}}">{{post.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <hr>
              </div>
            </div>
            <div id="serviceType" class="row">
              <div class="col-3">
                <h2 class="text-bold mt-4">Préférence de service (facultatif) :</h2>
              </div>
              <div class="col-9">
                <div class="form-group col-12">
                  <select class="selectpicker mt-3 col-5" id="selectServiceType" multiple data-live-search="true"
                          title="Services" disabled>
                    {{#each services as |service|}}
                      <option value="{{service.id}}"
                              data-categorie="{{service.categoriesPS_id}}" data-text="{{service.name}}">{{service.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <hr>
              </div>
            </div>
            <ul class="list-inline float-right">
              <li>
                <button type="button" class="btn btn-danger stop-step">Annuler</button>
                <button type="button" data-step="1" class="btn btn-info next-step">Continuer</button>
              </li>
            </ul>
          </div>
          <div class="tab-pane" role="tabpanel" id="step2">
            <div class="row">
              <div class="col-12">
                <h1 class="text-bold">Votre disponibilité</h1>
              </div>
              <div class="col-12">
                <div id="internshipDate">
                  <div class="row">
                    <div class="col-6"><label for="start">Du *</label>
                      <input id="start" name="start" type="text"
                             class="form-control input-md from" required="" autocomplete="off">
                    </div>
                    <div class="col-6">
                      <label for="end">Au *</label>
                      <input id="end" name="end" type="text"
                             class="form-control input-md to" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <ul class="list-inline float-right">
              <li>
                <button type="button" class="btn btn-secondary prev-step">Précédent</button>
                <button type="button" class="btn btn-danger stop-step">Annuler</button>
                <button type="button" data-step="2" class="btn btn-primary next-step">Continuer</button>
              </li>
            </ul>
          </div>
          <div class="tab-pane" role="tabpanel" id="step3">
            <div class="col-12">
              <h1 class="text-bold">Où souhaitez-vous postuler ?</h1>
            </div>
            <div class="col-12">
              <ul id="tabsStep3" class="nav nav-tabs mx-auto" data-tabs="tabs">
                <li class="nav-item col-lg-4 col-12 m-0 text-center">
                  <a id="searchAroundMe" class="active m-0" href="#gps" data-toggle="tab" aria-expanded="true">
                    Autour de moi
                  </a>
                </li>
                <li class="nav-item col-lg-4 col-12 m-0 text-center">
                  <a id="searchByAddress" class="m-0" href="#gps" data-toggle="tab" aria-expanded="false">
                    A partir d'une adresse
                  </a>
                </li>
                <li class="nav-item col-lg-4 col-12 m-0 text-center">
                  <a id="searchAllOver" class="m-0" href="#nogps" data-toggle="tab" aria-expanded="false">Partout en France</a>
                </li>
              </ul>
            </div>

            {{>candidate/geolocation}}

            <ul class="list-inline float-right">
              <li>
                <button type="button" class="btn btn-secondary prev-step">Précédent</button>
                <button type="button" class="btn btn-danger stop-step">Annuler</button>
                <button type="button" data-step="3" class="btn btn-info btn-info-full next-step">Continuer</button>
              </li>
            </ul>
          </div>

          <div class="tab-pane" role="tabpanel" id="complete">
            <div class="row">
              <div class="col-12 text-center">
                <h1>Récapitulatif</h1>
                <hr>
              </div>
              <div id="recapContractType" class="col-4">
                <div class="panel panel-resume">
                  <div class="panel-heading">
                    Type de contrat souhaité
                  </div>
                  <div class="panel-body text-center p-4">
                    <h3></h3>
                  </div>
                </div>
              </div>
              <div id="recapActivityType" class="col-4">
                <div class="panel panel-resume">
                  <div class="panel-heading">
                    Type d'activité
                  </div>
                  <div class="panel-body text-center p-4">
                    <h3></h3>
                    <h3></h3>
                  </div>
                </div>
              </div>
              <div id="recapHourType" class="col-4">
                <div class="panel panel-resume">
                  <div class="panel-heading">
                    Amenagement horaire
                  </div>
                  <div class="panel-body text-center p-4">
                    <i></i>
                    <i></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="panel panel-resume">
                  <div class="panel-heading">
                    Mes disponibilités
                  </div>
                  <div id="availability" class="panel-body text-center p-4">
                    <h3></h3>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-2">
                  <div class="panel panel-resume">
                    <div class="panel-heading">
                      Etablissement(s) choisi(s)
                    </div>
                    <div class="panel-body"
                         style="min-height:500px;max-height: 500px;overflow-y: scroll;overflow-x: hidden">

                      <table class="table">
                        <thead>
                        <tr>
                          <th>ES</th>
                          <th>Type d'ES</th>
                          <th>Région</th>
                        </tr>
                        </thead>
                        <tbody id="finalESList">
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
            <ul class="list-inline float-right">
              <li>
                <button type="button" class="btn btn-danger stop-step">Annuler</button>
                <button type="button" class="btn btn-secondary prev-step">Précédent</button>
                <button type="button" class="btn btn-success btn-info-full" onclick="addWishName()">Valider et sauvegarder</button>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMyQuBw8EQ6YixI2_Fxbw_OSmyVnnVocI&libraries=places"></script>
<script src="/assets/js/nouislider.min.js"></script>
<script src="/assets/dist/js/candidate/application.min.js"></script>
<script src="/assets/dist/js/candidate/addApplication.min.js"></script>