<div class="row">
  <div class="col-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left"><i class="fa fa-balance-scale"></i> Mes candidatures</h4>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12 table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr class="info">
                <th>Souhait</th>
                <th>Type de contrat</th>
                <th>Établissement(s)</th>
                {{!-- <th>Validité</th>--}}
                <th>Action</th>
              </tr>
              </thead>
              <tbody id="applicationTbody">
              {{#if wishes}}
                {{#each wishes as |wish|}}
                  <tr data-applicationId="{{wish.id}}">
                    <td>{{wish.name}}</td>
                    <td>{{wish.contract_type}}</td>
                    <td>
                      <span class="showEsList" style="cursor: pointer" data-applicationId="{{wish.id}}">
                        {{wish.es_count}}
                      </span>
                    </td>
                    {{!--<td>
                      {{{wishValidity wish}}}
                    </td>--}}
                    <td>
                      <a href="/wish/edit/{{wish.id}}">
                        <button class="btn btn-simple btn-outline-warning btn-icon editWish" data-id="{{wish.id}}">
                          <i class="ti-pencil-alt"></i>
                        </button>
                      </a>
                      <button class="btn btn-simple btn-outline-danger btn-icon removeWish" data-id="{{wish.id}}">
                        <i class="ti-close"></i>
                      </button>
                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr class="text-center noXPAvailable">
                  <td colspan="5">Aucune donnée disponible</td>
                </tr>
              {{/if}}
              </tbody>
            </table>
            <hr>
          </div>
        </div>
        <div class="col-12">
          <a href="/applications/new" class="btn btn-success float-right" style="margin-bottom: 5px;">
            <i class="fa fa-plus" aria-hidden="true"></i> Ajouter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/assets/dist/js/removeApplication.min.js"></script>
