<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title pull-left"><i class="fal fa-copy"></i> Mes documents</h3>
      </div>
      <div class="card-body">
        <form id="file-upload-form" class="uploader" method="post" action="/api/candidate/add/document" style="display: none">
          <input id="file-upload" type="file" accept="application/pdf, image/png, image/jpeg, image/jpg"/>
          <label for="file-upload" id="file-drag">
            <div id="start">
              <i class="fal fa-times float-right closeUploader" aria-hidden="true"></i>
              <i class="fal fa-file-upload fa-3x" aria-hidden="true"></i>
              <div id="notgoodfile" style="color:red;display:none">Format non autorisé (seuls les formats suivants sont acceptés : pdf, png & jpeg)</div>
              <div>Choisir un ou plusieurs fichiers ou déposer ici</div>
              <span id="file-upload-btn" class="btn btn-primary"></span>
            </div>
            <div id="response" style="display:none"></div>
          </label>
        </form>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-graduation-cap fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">Diplômes (ou Attestation de jeune diplômé)</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'DIP'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="DIP"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <span onclick="showFiles('DIP');" style="cursor: pointer">
                      <small id="DIPCount">{{countFiles candidate.documents 'DIP'}}</small>
                      <i class="fal fa-copy"></i>
                    </span>
                  <div id="DIPList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'DIP'}}
                          <li data-document-id="{{document.id}}" data-type="DIP">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-id-card fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">Pièce d'identité</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'CNI'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="CNI"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">

                  <span onclick="showFiles('CNI');" style="cursor: pointer">
                      <small id="CNICount">{{countFiles candidate.documents 'CNI'}}</small>
                      <i class="fal fa-copy"></i>
                    </span>
                  <div id="CNIList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'CNI'}}
                          <li data-document-id="{{document.id}}" data-type="CNI">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-file-certificate fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">Justificatif de référencement ADELI</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'ADELI'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="ADELI"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">

                  <span onclick="showFiles('ADELI');" style="cursor: pointer">
                      <small id="ADELICount">{{countFiles candidate.documents 'ADELI'}}</small>
                      <i class="fal fa-copy"></i>
                    </span>
                  <div id="ADELIList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'ADELI'}}
                          <li data-document-id="{{document.id}}" data-type="ADELI">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-shield-alt fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">Carte Vitale ou Attestation de Protection Santé</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'VIT'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="VIT"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">

                  <span onclick="showFiles('VIT');" style="cursor: pointer">
                      <small id="VITCount">{{countFiles candidate.documents 'VIT'}}</small>
                      <i class="fal fa-copy"></i>
                    </span>
                  <div id="VITList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'VIT'}}
                          <li data-document-id="{{document.id}}" data-type="VIT">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-university fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">Relevé d'Identité Bancaire (RIB)</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'RIB'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="RIB"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">

                  <span onclick="showFiles('RIB');" style="cursor: pointer">
                    <small id="RIBCount">{{countFiles candidate.documents 'RIB'}}</small>
                    <i class="fal fa-copy"></i>
                  </span>
                  <div id="RIBList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'RIB'}}
                          <li data-document-id="{{document.id}}" data-type="RIB">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-user-md fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">Attestation d'inscription à l'Ordre National</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'OrNa'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="OrNa"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">

                  <span onclick="showFiles('OrNa');" style="cursor: pointer">
                    <small id="OrNaCount">{{countFiles candidate.documents 'OrNa'}}</small>
                    <i class="fal fa-copy"></i>
                  </span>
                  <div id="OrNaList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'OrNa'}}
                          <li data-document-id="{{document.id}}" data-type="OrNa">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-file-user fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">CV</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'CV'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="CV"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">

                  <span onclick="showFiles('CV');" style="cursor: pointer">
                    <small id="CVCount">{{countFiles candidate.documents 'CV'}}</small>
                    <i class="fal fa-copy"></i>
                  </span>
                  <div id="CVList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'CV'}}
                          <li data-document-id="{{document.id}}" data-type="CV">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-content center-block">
                <div class="col-md-12">
                  <div class="icon-big icon-info text-center mt-1">
                    <i class="fal fa-file-signature fa-3x"></i>
                  </div>
                  <div class="text-center">
                    <small class="text-center">Lettre de motivation</small>
                    <br><br>
                    <i class="fal fa-{{addDocIcon candidate.documents 'LM'}} fa-2x" style="cursor: pointer"
                       data-action="addDoc" data-type="LM"></i>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">

                  <span onclick="showFiles('LM');" style="cursor: pointer">
                    <small id="LMCount">{{countFiles candidate.documents 'LM'}}</small>
                    <i class="fal fa-copy"></i>
                  </span>
                  <div id="LMList" style="display: none">
                    <ul>
                      {{#each candidate.documents as |document|}}
                        {{#ifCond document.type '===' 'LM'}}
                          <li data-document-id="{{document.id}}" data-type="LM">
                            <a href="/document/view/{{document.id}}" target="_blank">{{document.name}}</a>
                            -<button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="document" data-id="{{document.id}}">
                            <i class="fa fa-trash"></i>
                          </button>
                          </li>
                        {{/ifCond}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{static}}/assets/dist/js/uploadDocuments.min.js"></script>
<script>
  let showFiles = (type) => {
    createModal({
      id: 'showFileListModal',
      title: '<span class="fal fa-copy"></span> Vos fichiers',
      text: '<div class="modal-body showFileListModalBody"></div>',
    }, () => {
      let content = ($(`#${type}List ul>li`).length < 1) ? 'Aucun documents' : $(`#${type}List`).clone().show();
      $('.showFileListModalBody').html(content);
      $('.remove[data-type="document"]').click(function() {
        let id = $(this).attr('data-id');
        $.delete(`/api/candidate/document/${id}`, { _csrf }, (result) => {
          if (result === 'Document supprimé.') {
            let type = $(`li[data-document-id="${id}"]`).attr('data-type');
            $(`li[data-document-id="${id}"]`).remove();
            $(`#${type}Count`).html(parseInt($(`#${type}Count`).text()) - 1);
            notification({
              icon: 'check-circle',
              type: 'success',
              title: 'Document supprimé.'
            });
          }
        }).catch((xhr, status, error) => catchError(xhr, status, error));
      });
    });
  };

  $('.closeUploader').click(function(e) {
    e.preventDefault();
    $('.uploader').hide();
  });
</script>
