<style>
  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .label-text {
    margin-top: 4px;
    margin-right: 8px;
  }
</style>
<div class="row">
  <div class="col-12 col-md-12 col-lg-4">
    <div class="card card-user">
      <div class="image"></div>
      <div class="content">
        <div class="card-profile">
          <div id="availability-state" class="avatar avatar-xxl avatar-{{#if candidate.is_available}}on{{else}}off{{/if}}line">
            <img id="candidateAvatar"{{#if user.photo}} src="/uploads/avatars/{{user.photo}}" {{else}} src="/assets/images/face-0.jpg" {{/if}}class="avatar-img rounded-circle border-black" alt="avatar">
          </div>
          <div class="rank-label-container" data-toggle="tooltip" data-html="true" data-placement="top" title="{{> tooltips/candidatePercentage candidate.percentage}}">
            <span class="label label-default rank-label">{{{candidateProfilePercentage candidate.percentage}}}</span>
          </div>
          <h2 class="title">{{candidate.User.firstName}} {{candidate.User.lastName}}<br />
            <small>{{age candidate.User.birthday 'years'}} ans</small>
          </h2>
        </div>
        <div class="col-12">
          <div id="ctaAvailability" class="text-center state-{{#unless candidate.is_available}}un{{/unless}}available">
            <label class="label">
              <div class="label-text label-text-{{#unless candidate.is_available}}un{{/unless}}available available-target">
               <b> Je suis {{#unless candidate.is_available}}in{{/unless}}disponible</b>
              </div>
              <div class="toggle mt-1">
                <input class="toggle-state" type="checkbox" name="is_available" {{#if candidate.is_available}}checked{{/if}} />
                <div class="toggle-inner">
                  <div class="indicator"></div>
                </div>
                <div class="active-bg"></div>
              </div>
            </label>
          </div>
        </div>
        <p class="description text-center p-4">
          {{candidate.description}}
          <a href="/profile/edit"><i class="fa fa-pencil"></i></a>
        </p>
      </div>
      <hr>
      <div class="text-center">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h3>{{date candidate.User.createdAt 'DD/MM/YY'}}<br /><small>Inscription</small></h3>
          </div>
          <div class="col-12 col-lg-6">
            <h3>{{date candidate.User.updatedAt 'DD/MM/YY'}}<br /><small>Dernière modification</small></h3>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h4><i class="fal fa-phone"></i> {{candidate.User.phone}}</h4>
          </div>
          <div class="col-12 col-lg-12">
            <h4><i class="fal fa-envelope"></i> {{candidate.User.email}}
              <i class="fal fa-question-circle"  data-toggle="tooltip" data-html="true" data-placement="top" title="{{> tooltips/emailHint }}"></i>
            </h4>
          </div>
          <div class="col-12 col-lg-12">
            <h4><i class="fal fa-map-marked-alt"></i> {{candidate.User.postal_code}} {{candidate.User.town}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><i class="fa fa-film" aria-hidden="true"></i> Vidéo de présentation</h4>
        {{#if candidate.video}}
          <span id="removeVideo" class="col-12 col-lg-3 btn btn-outline-danger"><i class="fal fa-trash"></i></span>
        {{else}}
          <span id="removeVideo" style="display: none" class="col-12 col-lg-3 btn btn-outline-danger"><i class="fal fa-trash"></i></span>
        {{/if}}
      </div>
      <div class="card-content text-center">
        <form id="file-upload-form" class="uploader" method="post" action="/api/candidate/add/video">
          <input id="file-upload" type="file" name="file" accept="video/mp4" />

          <label for="file-upload" id="file-drag">
            {{#if candidate.video}}
              <video id="video-preview" style="width:inherit" controls>
                <source src="/uploads/candidates/videos/{{candidate.video}}" id="videoSrc">
              </video>
            {{else}}
              <video id="video-preview" style="display:none;width:inherit" controls>
                <source src="" id="videoSrc">
              </video>
            {{/if}}
            <div id="start" {{#if candidate.video}}style="display: none"{{/if}}>
              <i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>
              <div>Choisir une vidéo ou déposer ici</div>
              <div id="notvideo" style="color:red;display:none">Veuillez selectionner un fichier dans un format vidéo traditionnel.</div>
              <span id="file-upload-btn" class="btn btn-primary">Selectionnez une vidéo</span>
              <div id="messages"></div>
            </div>
            <div id="response" style="display:none">
              <progress class="progress" id="file-progress" value="0">
                <span>0</span>%
              </progress>
            </div>
          </label>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left">  <i class="fal fa-heart" aria-hidden="true"></i> Mes candidatures</h4>
        <a href="/applications" class="col-12 col-lg-3 btn btn-outline-success pull-right" style="margin-bottom: 5px;">
          <i class="fal fa-pencil" aria-hidden="true"></i> Modifier
        </a>
      </div>
      <div class="card-content">
        {{#if candidate.wishes}}
          <ol class="mt-3">
            {{#each candidate.wishes as |wish|}}
              <li class="wish">
                <h5>
                  <a href="/wish/edit/{{wish.id}}">{{wish.contract_type}} dans {{wish.es_count}} établissement(s)</a>
                </h5>
              </li>
            {{/each}}
          </ol>
        {{else}}
          <h3 class="text-center p-4">
            Aucune donnée disponible.
          </h3>
        {{/if}}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left"> <i class="fal fa-folder-open"></i> Mes documents</h4>
        <a href="/documents" class="col-12 col-lg-3 btn btn-outline-success pull-right" style="margin-bottom: 5px;">
          <i class="fal fa-pencil" aria-hidden="true"></i> Modifier
        </a>
      </div>
      <div class="card-content">
        {{#if candidate.documents}}
          <ul class="mt-3" style="word-break: break-all;">
            {{#each candidate.documents as |document|}}
              <li class="wish">
                <h5>
                  <a href="/document/view/{{document.id}}">{{document.name}}</a>
                </h5>
              </li>
            {{/each}}
          </ul>
        {{else}}
            <h3 class="text-center p-4">
              Aucune donnée disponible.
            </h3>
        {{/if}}
      </div>
    </div>
  </div>
    <div class="col-12 col-md-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left"><i class="fa fa-briefcase"></i> Expériences</h4>
        <a href="/formations" class="col-12 col-lg-3 btn btn-outline-success pull-right" style="margin-bottom: 5px;">
          <i class="fal fa-pencil" aria-hidden="true"></i> Modifier
        </a>
      </div>
      <div class="card-content table-responsive table-full-width">
        <table class="table table-hover mb-0">
          <thead>
          <tr class="info">
            <th>Date</th>
            <th>Établissement</th>
            <th>Poste</th>
            <th>Service</th>
          </tr>
          </thead>
          <tbody>
          {{#if candidate.experiences}}
            {{#each candidate.experiences as |xp|}}
              <tr>
                <td>
                  {{date xp.start 'MM/YYYY' }} -
                  {{#if xp.end}}
                    {{date xp.end 'MM/YYYY' }}
                  {{else}}
                    maintenant
                  {{/if}}
                  {{#if xp.internship}}
                    <small>(stage)</small>
                  {{/if}}
                </td>
                <td>{{xp.name}}</td>
                <td>{{xp.poste.name}}</td>
                <td>{{xp.service.name}}</td>
              </tr>
            {{/each}}
          {{else}}
            <tr class="text-center">
              <td colspan="4">Aucune donnée disponible</td>
            </tr>
          {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left"><i class="fa fa-graduation-cap"></i> Formations</h4>
        <a href="/formations" class="col-12 col-lg-3 btn btn-outline-success pull-right" style="margin-bottom: 5px;">
          <i class="fal fa-pencil" aria-hidden="true"></i> Modifier
        </a>
      </div>
      <div class="card-content table-responsive table-full-width">
        <table class="table table-hover mb-0">
          <thead>
          <tr class="info">
            <th style="width:25%"><i class="fa fa-book" aria-hidden="true"></i> Diplômes</th>
            <th style="width:75%"></th>
          </tr>
          </thead>
          <tbody>
          {{#if candidate.formations}}
            {{#each candidate.formations as |diploma|}}
              <tr>
                <td>
                  {{date diploma.start 'MM/YYYY' }} -
                  {{#if diploma.end}}{{date diploma.end 'MM/YYYY' }}{{else}}maintenant{{/if}}
                </td>
                <td>{{diploma.name}}</td>
              </tr>
            {{/each}}
          {{else}}
            <tr class="text-center">
              <td colspan="2">Aucune donnée disponible</td>
            </tr>
          {{/if}}
          </tbody>
        </table>
        {{#if candidate.qualifications}}
          <table class="table table-hover mb-0">
            <thead>
            <tr class="info">
              <th style="width:25%"><i class="fa fa-book" aria-hidden="true"></i> Diplômes complémentaires</th>
              <th style="width:75%"></th>
            </tr>
            </thead>
            <tbody>
            {{#if candidate.qualifications}}
              {{#each candidate.qualifications as |diploma|}}
                <tr>
                  <td>
                    {{date diploma.start 'MM/YYYY' }} -
                    {{#if diploma.end}}{{date diploma.end 'MM/YYYY' }}{{else}}maintenant{{/if}}
                  </td>
                  <td>{{diploma.name}}</td>
                </tr>
              {{/each}}
            {{/if}}
            </tbody>
          </table>
        {{/if}}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title pull-left"><i class="fa fa-briefcase"></i> Compétences</h4>
        <a href="/knowledges" class="col-12 col-lg-3 btn btn-outline-success pull-right" style="margin-bottom: 5px;">
          <i class="fal fa-pencil" aria-hidden="true"></i> Modifier
        </a>
      </div>
      <div class="card-content table-responsive table-full-width">
        <table class="table table-hover mb-0">
          <thead>
          <tr class="info">
            <th style="width:80%"><i class="fa fa-medkit" aria-hidden="true"></i> Soins techniques</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {{#if candidate.skills}}
            {{#each candidate.skills as |knowledge|}}
              <tr>
                <td>{{knowledge.name}}</td>
                <td>
                  <div class="rating-stars text-center">
                    <ul class="stars-disabled" data-type="software">
                      <li class="star {{rating knowledge.stars 1}}" title="Je sais faire avec tutorat" data-value="1">
                        <i class="fa fa-star" disabled></i>
                      </li>
                      <li class="star {{rating knowledge.stars 2}}" title="Je sais faire en autonomie" data-value='2'>
                        <i class="fa fa-star" disabled></i>
                      </li>
                      <li class="star {{rating knowledge.stars 3}}" title="Je sais former" data-value='3'>
                        <i class="fa fa-star" disabled></i>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr class="text-center">
              <td colspan="2">Aucune donnée disponible</td>
            </tr>
          {{/if}}
          </tbody>
        </table>
        <table class="table table-hover mb-0">
          <thead>
          <tr class="info">
            <th style="width:80%"><i class="fa fa-stethoscope" aria-hidden="true"></i> Matériels et produits</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {{#if candidate.equipments}}
            {{#each candidate.equipments as |equipment|}}
              <tr>
                <td>{{equipment.name}}</td>
                <td>
                  <div class="rating-stars text-center">
                    <ul class="stars-disabled" data-type="software">
                      <li class="star {{rating equipment.stars 1}}" title="Je sais faire avec tutorat" data-value="1">
                        <i class="fa fa-star" disabled></i>
                      </li>
                      <li class="star {{rating equipment.stars 2}}" title="Je sais faire en autonomie" data-value='2'>
                        <i class="fa fa-star" disabled></i>
                      </li>
                      <li class="star {{rating equipment.stars 3}}" title="Je sais former" data-value='3'>
                        <i class="fa fa-star" disabled></i>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr class="text-center">
              <td colspan="2">Aucune donnée disponible</td>
            </tr>
          {{/if}}
          </tbody>
        </table>
        <table class="table table-hover mb-0">
          <thead>
          <tr class="info">
            <th style="width:80%"><i class="fa fa-floppy-o" aria-hidden="true"></i> Logiciels</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {{#if candidate.softwares}}
            {{#each candidate.softwares as |software|}}
              <tr>
                <td>{{software.name}}</td>
                <td>
                  <div class="rating-stars text-center">
                    <ul class="stars-disabled" data-type="software">
                      <li class="star {{rating software.stars 1}}" title="Je sais faire avec tutorat" data-value="1">
                        <i class="fa fa-star" disabled></i>
                      </li>
                      <li class="star {{rating software.stars 2}}" title="Je sais faire en autonomie" data-value='2'>
                        <i class="fa fa-star" disabled></i>
                      </li>
                      <li class="star {{rating software.stars 3}}" title="Je sais former" data-value='3'>
                        <i class="fa fa-star" disabled></i>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr class="text-center">
              <td colspan="2">Aucune donnée disponible</td>
            </tr>
          {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="/assets/dist/js/candidate/uploadVideo.min.js"></script>
{{#unless candidate.percentage}}
  <script src="/assets/dist/js/candidate/newMstaffCandidate.min.js"></script>
{{/unless}}
<script>
  $('input[name="is_available"]').change(function() {
    let available = false;
    if (this.checked) {
      $('#ctaAvailability').removeClass('state-unavailable').addClass('state-available');
      $('div.label-text').removeClass('label-text-unavailable').addClass('label-text-available');
      $('div.label-text').children('b').html('Je suis disponible');
      available = true;
      $('#availability-state').removeClass().addClass("avatar avatar-xxl avatar-online");
    } else {
      $('#ctaAvailability').removeClass('state-available').addClass('state-unavailable');
      $('div.label-text').removeClass('label-text-available').addClass('label-text-unavailable');
      $('div.label-text').children('b').html('Je suis indisponible');
      $('#availability-state').removeClass().addClass("avatar avatar-xxl avatar-offline");
    }

    $.post('/api/candidate/availability', { _csrf, available });
  });
</script>