<style>
  .ui-widget.ui-widget-content{
    max-width: 30vw !important;
    overflow: auto !important;
  }
</style>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><i class="fa fa-question-circle" aria-hidden="true"></i> Légende</h2>
      </div>
      <div class="card-body" style="padding-top: 0px;">
        <div class="row mt-4">
          <div class="col-md-4 text-center">
            <span class="fa fa-star checked"></span>
            <h4 class="inline text-bold">Je sais faire avec tutorat</h4>
          </div>
          <div class="col-md-4 text-center">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <h4 class="inline text-bold">Je sais faire en autonomie</h4>
          </div>
          <div class="col-md-4 text-center">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <h4 class="inline text-bold">Je sais former</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-12 col-lg-4 card-competence">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-medkit" aria-hidden="true"></i> Soins techniques</h3>
      </div>
      <div class="card-body">
        <div class="row">
         <div class="col-12">
           <div class="form-group">
            <div class="row">
              <div class="col-9">
                <input class="form-control" placeholder="Ajouter une nouvelle compétence"
                       id="skills" type="text">
              </div>
              <div class="col-3">
                <button type="button" id="addNewSkill" class="btn btn-outline-primary" disabled>
                  <i class="fal fa-plus"></i> Ajouter
                </button>
              </div>
            </div>
           </div>
         </div>
          <div class="col-12 text-center" id="skillAlreadyInList" style="display: none">
            <b class="alert-danger">
              Cette compétence est déjà présente dans votre liste de compétences.
            </b>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <table class="table">
                  <thead>
                  <tr style="background-color: #FFF;">
                    <th style="width: 65%">Compétences</th>
                    <th>Niveau</th>
                    <th style="width:5%"></th>
                  </tr>
                  </thead>
                  <tbody id="skillsList">
                  {{#each candidate.skills as |skill|}}
                    <tr data-type="skill" data-id="{{skill.id}}">
                      <td>{{skill.name}}</td>
                      <td>
                        <div class="rating-stars text-center">
                          <ul class="stars" data-type="skill" data-id="{{skill.id}}">
                            <li class="star {{rating skill.stars 1}}" title="Je sais faire avec tutorat" data-value="1">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="star {{rating skill.stars 2}}" title="Je sais faire en autonomie" data-value='2'>
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="star {{rating skill.stars 3}}" title="Je sais former" data-value='3'>
                              <i class="fa fa-star"></i>
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="skill" data-id="{{skill.id}}">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-4 card-competence">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-stethoscope" aria-hidden="true"></i> Materiels et Produits</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="row">
                <div class="col-9">
                  <input class="form-control" id="equipments" type="text" placeholder="Ajouter un materiel/produit">
                </div>
                <div class="col-3">
                  <button type="button" id="addNewEquipment" class="btn btn-outline-primary" disabled>
                    <i class="fal fa-plus"></i> Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-center" id="equipmentAlreadyInList" style="display: none">
            <b class="alert-danger">
              Ce materiel/produit est déjà présent dans votre liste.
            </b>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
              <tr style="background-color: #FFF;">
                <th style="width: 65%">Matériel</th>
                <th>Niveau</th>
                <th style="width:5%"></th>
              </tr>
              </thead>
              <tbody id="equipmentsList">
              {{#each candidate.equipments as |equipment|}}
                <tr data-type="equipment" data-id="{{equipment.id}}">
                  <td>{{equipment.name}}</td>
                  <td>
                    <div class="rating-stars text-center">
                      <ul class="stars" data-type="equipment" data-id="{{equipment.id}}">
                        <li class="star {{rating equipment.stars 1}}" title="Je sais faire avec tutorat" data-value="1">
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="star {{rating equipment.stars 2}}" title="Je sais faire en autonomie" data-value='2'>
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="star {{rating equipment.stars 3}}" title="Je sais former" data-value='3'>
                          <i class="fa fa-star"></i>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="equipment" data-id="{{equipment.id}}">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-4 card-competence">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-save" aria-hidden="true"></i> Logiciels</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="row">
                <div class="col-9">
                  <input class="form-control" id="softwares" type="text" placeholder="Ajouter un nouveau logiciel">
                </div>
                <div class="col-3">
                  <button type="button" id="addNewSoftware" class="btn btn-outline-primary" disabled>
                    <i class="fal fa-plus"></i> Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center" id="softwareAlreadyInList" style="display: none">
            <b class="alert-danger">
              Ce logiciel est déjà présent dans votre liste.
            </b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
              <tr style="background-color: #FFF;">
                <th style="width: 65%">Logiciel</th>
                <th>Niveau</th>
                <th style="width:5%"></th>
              </tr>
              </thead>
              <tbody id="softwaresList">
              {{#each candidate.softwares as |software|}}
                <tr data-type="software" data-id="{{software.id}}">
                  <td>{{software.name}}</td>
                  <td>
                    <div class="rating-stars text-center">
                      <ul class="stars" data-type="software" data-id="{{software.id}}">
                        <li class="star {{rating software.stars 1}}" title="Je sais faire avec tutorat" data-value="1">
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="star {{rating software.stars 2}}" title="Je sais faire en autonomie" data-value='2'>
                          <i class="fa fa-star"></i>
                        </li>
                        <li class="star {{rating software.stars 3}}" title="Je sais former" data-value='3'>
                          <i class="fa fa-star"></i>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-simple btn-outline-danger btn-icon remove" data-type="software" data-id="{{software.id}}">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/assets/dist/js/skills.min.js"> </script>
<script>
  var skillAutocomplete = [];

  $.get('/api/skills/all', function(data) {
    $.each(data.skills, function (i, skill) {
      skillAutocomplete.push(skill.name);
    });
  });
  $( "#skills" ).autocomplete({
    source: skillAutocomplete
  });
</script>