<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="toolbar">
          <a title="Add" class="btn btn-default" style="margin-right:10px" onclick="showSuperGroupModal()"> <i
              class="fal fa-plus"></i></a>
        </div>

        <table id="superGroups-table" class="table">
          <thead>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id" class="text-center">ID</th>
          <th data-field="name" data-sortable="true">Nom</th>
          <th data-field="logo" data-sortable="true">Logo</th>
          <th data-field="banner" data-sortable="true">Bannière</th>
          <th data-field="domain_name" data-sortable="true">Sous domaine</th>
          <th data-field="domain_enable" data-sortable="true">État sous domaine</th>
          <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
              data-formatter="operateFormatter">Actions
          </th>
          </thead>
          <tbody>
          {{#each superGroup as |superGroups|}}
            <tr data-id="{{superGroups.id}}">
              <td></td>
              <td>{{superGroups.id}}</td>
              <td>{{superGroups.name}}</td>
              <td>{{superGroups.logo}}</td>
              <td>{{superGroups.banner}}</td>
              <td>{{superGroups.domain_name}}</td>
              <td>{{#ifCond superGroups.domain_enable '==' '1'}}Actif{{else}}Inactif{{/ifCond}}</td>
              <td></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/assets/dist/js/bo/backoffice_supergroups.min.js"></script>