<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="toolbar">
          <a title="Add" class="btn btn-default" style="margin-right:10px" onclick="showGroupModal()"> <i class="fal fa-plus"></i></a>
        </div>

        <table id="groups-table" class="table">
          <thead>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="id" class="text-center">ID</th>
          <th data-field="name" data-sortable="true">Nom</th>
          <th data-field="logo" data-sortable="true">Logo</th>
          <th data-field="banner" data-sortable="true">Bannière</th>
          <th data-field="domain_name">Sous domaine</th>
          <th data-field="domain_enable">État sous domaine</th>

          <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
              data-formatter="operateFormatter">Actions
          </th>
          </thead>
          <tbody>
          {{#each group as |groups|}}
            <tr data-id="{{groups.id}}">
              <td></td>
              <td id="g-id">{{groups.id}}</td>
              <td id="g-name">{{groups.name}}</td>
              <td id="g-logo">{{groups.logo}}</td>
              <td id="g-banner">{{groups.banner}}</td>
              <td id="g-domain">{{#if groups.domain_name}}<a href="https://{{groups.domain_name}}.mstaff.co">{{groups.domain_name}}</a>{{/if}}</td>
              <td id="g-state">{{#ifCond groups.domain_enable '==' '1'}}Actif{{else}}Inactif{{/ifCond}}</td>
              <td></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/assets/dist/js/bo/backoffice_groups.min.js"></script>