<div class="row">
  <div class="col-lg-4 col-md-5">
    <div class="card card-user">
      <div class="image"></div>
      <div class="content">
        <div class="card-profile">
          <div class="avatar avatar-xxl avatar-{{#if user.candidate.is_available}}on{{else}}off{{/if}}line">
            <img id="candidateAvatar"{{#if user.photo}}
                 src="/api/avatar/view/{{user.photo}}" {{else}}
                 src="/static/assets/images/face-0.jpg" {{/if}}class="avatar-img rounded-circle border-black"
                 alt="avatar">
          </div>
          {{#if user.candidate}}
            <div class="rank-label-container" data-toggle="tooltip" data-html="true" data-placement="bottom"
                 title="{{> candidatePercentageTooltip user.candidate.percentage}}">
              <span class="label label-default rank-label">{{{candidateProfilePercentage
                  user.candidate.percentage}}}</span>
            </div>
          {{/if}}
          <h2 class="title">{{user.firstName}} {{user.lastName}}<br/>
            <small>{{age user.birthday 'years'}} ans</small>
          </h2>
        </div>
        <p class="description text-center">
          {{user.candidate.description}}
        </p>
        <hr>
        <div>
          <div class="text-center">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <h5>{{date user.createdAt 'DD/MM/YY'}}<br/>
                  <small>Inscription</small>
                </h5>
              </div>
              <div class="col-md-4">
                <h5>{{date user.updatedAt 'DD/MM/YY'}}<br/>
                  <small>Dernière modification</small>
                </h5>
              </div>
              <div class="col-md-3">
                <h5>{{user.role}}<br/>
                  <small>Role</small>
                </h5>
              </div>
              <div class="col-md-12">
                <hr>
                <div class="row">
                  <div class="col-12">
                    <div class="col-md-5">
                      <h5>État du compte :</h5>
                    </div>
                    <div class="col-md-7">
                      <h5 class="pull-left">
                        {{#if user.validated}}Validé{{else}}
                          En attente de validation
                          <button class="btn btn-info btn-sm"
                                  data-action="sendVerifEmail"
                                  data-email="{{user.email}}"
                                  title="Renvoyer l'email de vérification">
                            <i class="fal fa-paper-plane"></i>
                            <i class="fal fa-envelope"></i>
                          </button>
                        {{/if}}
                      </h5>
                    </div>
                  </div>
                  {{#if user.candidate}}
                    <div class="col-12">
                      <div class="col-md-5">
                        <h5>Taux de complétion :</h5>
                      </div>
                      <div class="col-md-7">
                        <h5 class="pull-left">
                          <span id="candidatePercentage">{{{candidateProfilePercentage
                              user.candidate.percentage}}}</span>
                          <button class="btn btn-info btn-sm"
                                  data-action="resetCandidatePercentage"
                                  data-id="{{user.id}}"
                                  title="Recalculer le taux de complétion">
                            Recalculer le taux de complétion
                          </button>
                        </h5>
                      </div>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-7">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Modifier le profil</h4>
      </div>
      <div class="card-content">
        <form method="post" action="/back-office/user/{{user.id}}">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Prénom</label>
                <input type="text" name="firstName" class="form-control border-input" placeholder="Prénom"
                       value="{{user.firstName}}" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" name="lastName" class="form-control border-input" placeholder="Nom"
                       value="{{user.lastName}}" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Adresse email</label>
                <input type="email" name="email" class="form-control border-input" placeholder="Email"
                       value="{{user.email}}" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Date de naissance</label>
                <input type="date" name="birthday" class="form-control border-input" placeholder="dd/mm/aaaa"
                       value="{{date user.birthday 'YYYY-MM-DD'}}" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Code Postal</label>
                <input type="text" name="postal_code" class="form-control border-input" placeholder="Code Postal"
                       value="{{user.postal_code}}" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Ville</label>
                <input type="text" name="town" class="form-control border-input" placeholder="Ville"
                       value="{{user.town}}" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Role</label>
                <select name="role" class="form-control border-input">
                  <option value="User"{{#ifCond user.role '===' 'User'}} selected{{/ifCond}}>Utilisateur</option>
                  <option value="Admin"{{#ifCond user.role '===' 'Admin'}} selected{{/ifCond}}>Administrateur</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Type de compte</label>
                <select name="type" class="form-control border-input" value="{{user.type}}">
                  <option value="candidate"{{#ifCond user.type '===' 'candidate'}} selected{{/ifCond}}>Candidat</option>
                  <option value="es"{{#ifCond user.type '===' 'es'}} selected{{/ifCond}}>Établissement</option>
                  <option value="demo"{{#ifCond user.type '===' 'demo'}} selected{{/ifCond}}>Démo</option>
                  <option value="admin"{{#ifCond user.type '===' 'admin'}} selected{{/ifCond}}>Administrateur</option>
                </select>
              </div>
            </div>
          </div>
          {{#if user.candidate}}
            <input type="hidden" name="candidateId" value="{{user.candidate.id}}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Motivations</label>
                  <textarea rows="5" name="description"
                            class="form-control border-input">{{user.candidate.description}}</textarea>
                </div>
              </div>
            </div>
          {{/if}}
          <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
          <div class="text-center">
            <button type="submit" class="btn btn-info btn-fill btn-wd">Modifier le profil</button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('button[data-action="sendVerifEmail"]').click(function () {
    let _csrf = $('meta[name="csrf-token"]').attr('content');
    let email = $(this).attr('data-email');

    $.post(`/api/back-office/candidates/sendVerifEmail`, { _csrf, email }, (data) => {
      if (data === 'Send') {
        notification({
          icon: 'check-circle',
          type: 'success',
          title: `Email de vérification envoyé avec succès à ${email}`,
        });
      }
    }).catch((xhr, status, error) => catchError(xhr, status, error));
  });

    {{#if user.candidate}}
    $('button[data-action="resetCandidatePercentage"]').click(function () {
      let _csrf = $('meta[name="csrf-token"]').attr('content');
      let id = $(this).attr('data-id');
      $(this).html('Recalcul en cours <i class="fal fa-spinner"></i>');

      $.post(`/api/back-office/candidates/resetProfilePercentage`, { _csrf, id }, (data) => {
        if (data.status === 'ok') {
          $('#candidatePercentage').html(data.percentage.total + '%');
          notification({
            icon: 'check-circle',
            type: 'success',
            title: `Taux de complétion recalculé à ${data.percentage.total}%.`,
          });
          $(this).remove();
        }
      }).catch((xhr, status, error) => catchError(xhr, status, error));
    });
    {{/if}}

</script>