<header class="page-header">
    <div class="container">

        <div class="push">
            <div class="aic">
                <div class="image-ratio image-ratio-100 image-round header-logo" style="background-image:url('{{es.logo}}');"></div>
                <div>
                    <span class="header-title-label">Établissement</span>
                    <h1 class="header-title">{{es.name}}</h1>
                </div>
            </div>
            <div class="aic">
                <a href="#" class="button button-pink button-fluid">Site web</a>
                <a href="/join" class="button button-pink button-fluid">Candidature spontanée</a>
            </div>
        </div>

    </div>
</header>

<div class="page-banner">
    <div class="image-ratio image-ratio-40 page-banner__image" style="background-image:url('{{es.banner}}');"></div>
    <div class="page-banner__shadow"></div>
    <div class="page-banner__body">
        <div class="container">

            <div class="banner-info-card">
                <div class="banner-info-card__body content-type-text">
                    <h4 class="banner-info-card__body__title title">Informations</h4>
                    {{#if es.address}}
                        <p><i class="far fa-map-marker-alt"></i> {{es.address}} {{es.town}}</p>
                    {{else}}
                        <p><i class="far fa-map-marker-alt"></i> Lorem ipsum dolor sit amet</p>
                    {{/if}}
                    <p><i class="far fa-map-marker-alt"></i> Lorem ipsum dolor sit amet</p>
                    <p><i class="far fa-map-marker-alt"></i> Lorem ipsum dolor sit amet</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-sm-12">

            <h1 class="baseline baseline-page">Retrouvez ici les <span>offres d'emploi</span> postées par <span>{{es.name}}</span></h1>

            <div class="container-fluid">
                <div class="row card-list">

                    {{#repeat 10}}
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card__thumbnail-container"></div>
                                <div class="card__body content-type-text">
                                    <h3 class="card__body__title title">Ergotherapeuthe</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet at consequuntur cum expedita facere hic ipsam iure laborum, provident quae repudiandae, velit veritatis!</p>
                                </div>
                                <div class="card__footer">
                                    <div class="push">
                                        <div class="aic">
                                            <div class="tag tag-blue">CDI</div>
                                        </div>
                                        <div class="aic">
                                            <a href="#" class="button button-pink">Postuler</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/repeat}}

                </div>
            </div>

        </div>

    </div>

</div>
