<!-- HEADER -->
<div class="header">
  <!-- Image -->
  <img src="{{es.banner}}" class="header-img-top" alt="Bannière {{es.name}}" style="object-fit: cover; height: 344px">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body mt-n5 mt-md-n6">
      <div class="row align-items-end">
        <div class="col-auto">
          <!-- Avatar -->
          <div class="avatar avatar-xxl header-avatar-top">
            <img src="{{es.logo}}" alt="Logo {{es.name}}" class="avatar-img rounded border border-4 border-body">
          </div>

        </div>
        <div class="col mb-3 ml-n3 ml-md-n2">
          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Page établissement
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            {{es.name}}
          </h1>
        </div>
        <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
          <!-- Button -->
          <a href="/join?esList={{es.finess}}+65854" class="btn btn-outline-primary d-block d-md-inline-block">
            Candidature spontanée
          </a>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->
  </div>
</div> <!-- / .header -->

<!-- CONTENT -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mt-4">Vous pourrez prochainement voir ici les offres d'emploi proposées par {{es.name}}</h1>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4">

      <!-- Projects -->
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <!-- Title -->
              <h4 class="card-header-title">
                Informations
              </h4>
            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
            <tr>
              <td style="border-top: none !important">Adresse</td>
              <td style="border-top: none !important">{{#if es.phone}}{{es.address}}<br>{{es.town}}{{else}}Non communiqué{{/if}}</td>
            </tr>
            <tr>
              <td>Téléphone</td>
              <td>{{#if es.phone}}+33 {{es.phone}}{{else}}Non communiqué{{/if}}</td>
            </tr>
            <tr>
              <td>Site Web</td>
              <td>{{#if es.url}}{{es.url}}{{else}}Non communiqué{{/if}}</td>
            </tr>
            <tr>
              <td>Habiter dans le quartier</td>
              <td><img
                  src="https://www.bienici.com/cacheForever/284ab4e26baea248f8da4e920b77bdfff29327d8/images/share.png"
                  alt="Bien Ici" width="65"></td>
            </tr>
            {{#if ref.lat}}
              <tr>
                <td style="width: 24%;">Localisation</td>
                <td>
                  <div id="map" style="height: 450px;width: 100%;"></div>
                </td>
              </tr>
            {{/if}}
            </tbody>
          </table>
        </div> <!-- / .card-body -->
      </div> <!-- / .card -->
    </div>
  </div> <!-- / .row -->
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMyQuBw8EQ6YixI2_Fxbw_OSmyVnnVocI&libraries=places"></script>
<script>
  if (document.getElementById('map')) {
    let pos = {lat: {{ref.lat}}, lng: {{ref.lon}}, rayon: 5};
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: pos
    });
    marker = new google.maps.Marker({
      position: pos,
      map: map
    });
    cityCircle = new google.maps.Circle({
      strokeColor: '#337AB7',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#5BBBE5',
      fillOpacity: 0.35,
      map: map,
      center: pos,
      radius: pos.rayon * 1000 || 10000
    });
  }
</script>