<div class="row">

    <div class="col-sm-6 p-0">
        <div class="image-ratio image-ratio-30" style="background-image:url('{{es.banner}}');"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">

                    <div class="row">
                        <div class="col-sm-9">
                            qzd
                        </div>
                        <div class="col-sm-3 p-0">

                            <div class="banner-info-card">
                                <div class="banner-info-card__header">
                                    <div class="image-ratio image-ratio-40 banner-info-card__header__image" style="background-image:url('{{es.logo}}');"></div>
                                    <h3 class="banner-info-card__header__title">{{es.name}}</h3>
                                </div>
                                <div class="banner-info-card__body">
                                    {{#if es.address}}
                                        <p><i class="far fa-map-marker-alt"></i> {{es.address}} {{es.town}}</p>
                                    {{else}}
                                        <p><i class="far fa-map-marker-alt"></i> Lorem ipsum dolor sit amet</p>
                                    {{/if}}
                                    <p><i class="far fa-map-marker-alt"></i> Lorem ipsum dolor sit amet</p>
                                    <p><i class="far fa-map-marker-alt"></i> Lorem ipsum dolor sit amet</p>
                                    <a href="/join" class="button button-pink button-fluid">Candidature spontanée</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="map-container">
    <div id="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMyQuBw8EQ6YixI2_Fxbw_OSmyVnnVocI&libraries=places"></script>
<script>
    if (document.getElementById('map')) {
        let pos = {lat: {{ref.lat}}, lng: {{ref.lon}}, rayon: 5};
        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: pos
        });
        marker = new google.maps.Marker({
            position: pos,
            map: map
        });
        cityCircle = new google.maps.Circle({
            strokeColor: '#337AB7',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#5BBBE5',
            fillOpacity: 0.35,
            map: map,
            center: pos,
            radius: pos.rayon * 1000 || 10000
        });
    }
</script>