{{#extend "body"}}

    <div class="page-body">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <header class="page-header">

                        <div class="image-ratio image-ratio-100 image-round header-logo" style="background-image:url('{{supergroup.logo}}');"></div>
                        <span class="header-title-label">Super Groupe</span>
                        <h1 class="header-title">{{supergroup.name}}</h1>

                    </header>

                </div>

            </div>

            <div class="row">

                <div class="col-12">

                    <div class="baseline baseline-page">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span><br>Lorem ipsum dolor sit amet.</span></div>

                </div>

            </div>

            <div class="row">

                <div class="col-6 offset-3 tac">

                    <form method="post"{{#if geoError}} class="error"{{/if}}>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <label for="search">Où êtes-vous ?</label>
                        <input type="text" name="search" placeholder="42 rue du test, Paris">
                        {{#if geoError}}
                            <div class="form-error">
                                {{#ifCond geoError.status '==' 'ZERO_RESULTS'}}
                                    Aucun résultat pour l'adresse que vous avez renseigné.<br>Essayez d'être plus précis.
                                {{else ifCond geoError.status '==' 'GEOCODING_TOO_MUCH_RESULTS_ERROR'}}
                                    Nous avons trouvé plusieurs résultats pour l'adresse que vous avez renseigné.<br>Impossible de vous géolocaliser.
                                {{else}}
                                    Une erreur est survenue.<br>Veuillez réessayer.
                                {{/ifCond}}
                            </div>
                        {{/if}}

                        <button class="button button-pink">Rechercher</button>
                    </form>

                    <br>
                    <br>
                    <form method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input type="hidden" name="all" value="1">
                        <button class="im-a-link text-pink">Afficher tous les établissement de {{supergroup.name}}</button>
                    </form>

                </div>

            </div>

        </div>



    </div>

{{/extend}}

{{#extend "scripts"}}
    <script src="/assets/theme/mstaff/js/modules/map-helper.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMyQuBw8EQ6YixI2_Fxbw_OSmyVnnVocI&libraries=places"></script>
    <script>
        $(document).ready(function(){
            MapHelper.initAutocompleteInput($('input[name="search"]').get(0), true);
        });
    </script>
{{/extend}}