{{#extend "body"}}

    <div class="page-body">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <header class="page-header">

                        <div class="image-ratio image-ratio-100 image-round header-logo" style="background-image:url('{{supergroup.logo}}');"></div>
                        <span class="header-title-label">Super Groupe</span>
                        <h1 class="header-title">{{supergroup.name}}</h1>

                    </header>

                </div>

            </div>

            <div class="row">

                <div class="col-12">

                    <div class="baseline baseline-page">Trouvez un établissement de santé autour de vous.<span><br>Postulez ensuite simplement en quelques clics.</span></div>

                </div>

            </div>

            <div class="row">

                <div class="col-6 offset-3 tac">

                    <form method="post"{{#if geoError}} class="error"{{/if}} class="search-form">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input type="hidden" name="latlng">
                        <label for="search">Où êtes-vous ?</label>
                        <input type="text" name="search" placeholder="42 rue du test, Paris">
                        {{#if geoError}}
                            <div class="form-error">
                                {{#ifCond geoError.status '==' 'ZERO_RESULTS'}}
                                    Aucun résultat pour l'adresse que vous avez renseigné.<br>Essayez d'être plus précis.
                                {{else ifCond geoError.status '==' 'GEOCODING_TOO_MUCH_RESULTS_ERROR'}}
                                    Nous avons trouvé plusieurs résultats pour l'adresse que vous avez renseigné.<br>Impossible de vous géolocaliser.
                                {{else}}
                                    Une erreur est survenue.<br>Veuillez réessayer.
                                {{/ifCond}}
                            </div>
                        {{/if}}

                        <button class="button button-pink">Rechercher</button>
                    </form>

                    <br>
                    <br>
                    <form method="post" class="all-form">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input type="hidden" name="all" value="1">
                        <button class="im-a-link text-pink">Afficher tous les établissement de {{supergroup.name}}</button>
                    </form>

                </div>

            </div>

        </div>



    </div>

{{/extend}}

{{#extend "bodyend"}}
    <div class="my-location">
        <div class="pac-item">
            <i class="fas fa-location"></i> Ma position
        </div>
    </div>
{{/extend}}

{{#extend "scripts"}}
    <script src="/assets/theme/mstaff/js/modules/map-helper.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMyQuBw8EQ6YixI2_Fxbw_OSmyVnnVocI&libraries=places"></script>
    <script>
        $(document).ready(function(){

        	const $searchInput = $('input[name="search"]');

            MapHelper.initAutocompleteInput($searchInput.get(0), true);

            $searchInput
                .focusin(function(){
                    $('.my-location')
                        .css({
                            top: $searchInput.offset().top + $searchInput.outerHeight(),
                            left: $searchInput.offset().left,
                            width: $searchInput.innerWidth()
                        })
                        .show()
                })
                .focusout(function(){
                	// This is dirty but working
                    setTimeout(function(){
                        $('.my-location')
                            .hide();
                    }, 250);
                });

            $('.my-location').click(function(){
                navigator.geolocation.getCurrentPosition(function(position){
                    $('input[name="latlng"]').val(position.coords.latitude + ',' + position.coords.longitude);
                    $('.search-form').submit();
                });
            });

        });
    </script>
{{/extend}}