<div class="row" style="padding-top:15px; margin: auto !important;">
  <div class="col-md-12">
    <form id="createNewESForm" style="padding: 15px" autocomplete="off">
      <fieldset>
        <legend>
          <h5 style="text-align: center">Informations de base</h5>
        </legend>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="newESName">Nom</label>
            <input type="text" class="form-control" id="newESName" name="name" placeholder="Nom de l'établissement"
                   value="{{this.es.name}}" required>
          </div>
          <div class="form-group col-md-3">
            <label for="newESFinessEt">Finess ET</label>
            <input type="text" class="form-control" id="newESFinessEt" name="finess_et" placeholder="Numéro Finess ET"
                   value="{{this.es.finess_et}}" required>
          </div>
          <div class="form-group col-md-3">
            <label for="newESFinessEj">Finess EJ</label>
            <input type="text" class="form-control" id="newESFinessEj" name="finess_ej" placeholder="Numéro Finess EJ"
                   value="{{this.es.finess_ej}}">
          </div>
          <div class="form-group col-md-3">
            <label for="newESSiret">Siret</label>
            <input type="text" class="form-control" id="newESSiret" name="siret" placeholder="Numéro Siret"
                   value="{{this.es.siret}}">
          </div>
            <div class="form-group col-md-3">
                <label for="newESAddress">Adresse</label>
                <input type="text" class="form-control" id="newESAddress" name="user_address" placeholder="12 Rue De la liberté 75000 PARIS"
                       value="{{this.es.address_num}} {{this.es.address_type}} {{this.es.address_name}} {{this.es.address_town}}" required>
            </div>
          <div class="form-group col-md-2">
            <label for="newESPhone">Numéro de téléphone</label>
            <input type="text" class="form-control" id="newESPhone" name="phone" placeholder="+331020304"
                   value="+ {{this.es.phone}}">
          </div>
          <div class="form-group col-md-2">
            <label for="salaries_count">Nombre d'employés</label>
            <input class="form-control" name="salaries_count" type="number" value="0" id="salaries_count" required>
          </div>
          <div class="form-group col-md-3">
            <label for="secteur">Secteur</label>
            <select class="form-control" id="secteur" name="sector">
              <option value="private" selected="selected">PRIVE</option>
              <option value="public">PUBLIC</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="logo">Logo</label>
            <input class="form-control" name="logo" type="text" id="logo">
          </div>
          <div class="form-group col-md-2">
            <label for="banner">Bannière</label>
            <input class="form-control" name="banner" type="text" id="banner">
          </div>
          <div class="form-group col-md-2">
            <label for="bienIci">Lien BienIci</label>
            <input class="form-control" name="bienIci" type="text" id="bienIci">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <h5 style="text-align: center">Informations du référent</h5>
        </legend>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="newESContactName">Nom</label>
            <input type="text" class="form-control" id="newESContactName" name="contactIdentity"
                   placeholder="Jean Dupont">
          </div>
          <div class="form-group col-md-3">
            <label for="newESContactPost">Poste</label>
            <input type="text" class="form-control" id="newESContactPost" name="contactPost" placeholder="DRH">
          </div>
          <div class="form-group col-md-3">
            <label for="newESContactEmail">Email</label>
            <input type="text" class="form-control" id="newESContactEmail" name="contactEmail"
                   placeholder="jean.dupont@etablissement.org">
          </div>
          <div class="form-group col-md-3">
            <label for="newESContactPhone">Numéro de téléphone</label>
            <input type="text" class="form-control" id="newESContactPhone" name="contactPhone" placeholder="0601020304">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          <h5 style="text-align: center">Configuration dans Mstaff</h5>
        </legend>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="ESMstaffCat">Catégorie Mstaff</label>
            <input type="text" class="form-control" id="ESMstaffCat" name="mstaff_category">
          </div>
          <div class="form-group col-md-3">
            <label for="ESGroup">Groupe</label>
            <input type="text" class="form-control" id="ESGroup" name="group">
          </div>
          <div class="form-group col-md-3">
            <label for="secteur">Domaine</label>
            <select class="form-control" id="secteur" name="domaine_enable">
              <option value="1">Actif</option>
              <option value="0" selected="selected">Inactif</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="domain_name">Nom de domaine</label>
            <div class="row">
              <div class="col-md-8">
                <input class="form-control col-md-8" placeholder="établissement" name="domain_name" type="text">
              </div>
              <div class="col-md-4" style="margin-left: -26px;"><h4>.mstaff.co</h4></div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-secondary float-left" data-dismiss="modal">Annuler</button>
  <button type="submit" id="createES{{this.es.id}}" class="btn btn-primary pull-right">Brancher l'établissement</button>
</div>
<script>

    function onConfirm(request){
        return $.post('/api/back-office/establishment/validate-create', request, (response) => {

            if(response.status === 'Created'){
                $('#confirmAddress').modal('hide');
                $('#addESfromREFModal').modal('hide');

                notification({
                    icon: 'check-circle',
                    type: 'success',
                    title: 'Établissement créé avec succès.',
                    message: 'Vous allez être redirigé vers la page établissement dans quelques instants.',
                    onClosed: () => $(location).attr('href', `/back-office/es/${response.es.id}`)
                });

            }else{

                $('#confirmAddress').modal('hide');
                $('#addESfromREFModal').modal('hide');

                notification({
                    icon: 'exclamation-circle',
                    type: 'warning',
                    title: 'Cet établissement est déjà branché à Mstaff.'
                });
            }
        }).catch((xhr, status, error) => catchError(xhr, status, error));
    }

    $('#createES{{this.es.id}}').click(function () {
        let request_body = {};
        request_body._csrf = $('meta[name="csrf-token"]').attr('content');
        $.each($('#createNewESForm').serializeArray(), function (_, kv) {
            request_body[kv.name] = kv.value;
        });

        $.post('/api/back-office/establishment/create', request_body, (response_body) => {
            if (response_body.status === 'OK') {
                createModal({
                    id: 'confirmAddress',
                    modal: 'back-office/confirmAddress',
                    size: 'modal-lg',
                    style: 'width:50%;margin-top:50px;',
                    title: 'Confirmez vous les informations liées à l\'adresse que vous avez renseigné ?',
                    form_data: response_body.form_data,
                    results: response_body.results,
                    formatted_results: response_body.formatted_results,
                    onConfirm: 'onConfirm'
                });
            } else {
                notification({
                    icon: 'exclamation-circle',
                    type: 'warning',
                    title: 'Nous n\'arrivons pas à trouver l\'adresse que vous avez renseigné, essayez de la modifier.'
                });
            }
        }).catch((xhr, status, error) => catchError(xhr, status, error));
    });
</script>