<style>
    .address-card{
        background-color:rgba(0,0,0,.02);
        -webkit-transition:background-color .2s ease;
        -moz-transition:background-color .2s ease;
        -ms-transition:background-color .2s ease;
        -o-transition:background-color .2s ease;
        transition:background-color .2s ease;
    }
    .address-card.selected{
        background-color:rgba(0,0,0,.1);
    }
</style>

<div class="row" style="padding-top:15px; margin: auto !important;">
    <div class="col-md-12">
        {{#each formatted_results as |formatted_result|}}
            <div class="card address-card{{#ifCond @key '==' 0}} selected{{/ifCond}}" data-index="{{@key}}">
                <div class="card-header" style="padding-bottom:1rem;border-bottom:1px solid rgba(0,0,0,.1);">
                    <h5 style="margin:0;font-weight:bold;">{{lookup (lookup ../results @key) 'formatted_address'}}</h5>
                </div>
                <div class="card-content">
                    {{#each formatted_result}}
                        <p><b>{{@key}}:</b> {{.}}</p>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div class="modal-footer">
    <div class="btn btn-primary" id="no">Non, je vais modifier l'adresse</div>
    <div class="btn btn-primary" id="yes">Oui</div>
</div>
<script>
    $('.address-card').click(function(){
        $('.address-card').removeClass('selected');
    	$(this).addClass('selected');
    });

    $('#yes').click(function(){

        let results = [];
        {{#each results as |result|}}
            results.push(JSON.parse(`{{{json result}}}`));
        {{/each}}

        if($('.address-card.selected').length !== 1 || !results[$('.address-card.selected').attr('data-index')])
        	return;

    	let request = {};
        request._csrf = $('meta[name="csrf-token"]').attr('content');
        {{#if form_data}}
            request.form_data = JSON.parse(`{{{json form_data}}}`);
        {{/if}}
        request.address_data = results[$('.address-card.selected').attr('data-index')];

        {{#if onConfirm}}
            eval('{{onConfirm}}(request);');
        {{/if}}
    });

    $('#no').click(function(){
        $('#confirmAddress').modal('hide');
    });
</script>