<div class="sidebar" data-background-color="white" data-active-color="success">
  <!--
      Tip 1: you can change the color of the sidebar's background using: orm-background-color="white | brown"
      Tip 2: you can change the color of the active button using the orm-active-color="primary | info | success | warning | danger"
  -->
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <img src="/static/assets/images/PICTO.png" width="50" alt="Mstaff" style="margin: -25%">
    </a>
    <a href="#" class="simple-text logo-normal">
      Mstaff
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li{{#ifCond a.main '===' 'dashboard'}} class="active"{{/ifCond}}>
        <a data-toggle="collapse" href="#dashboardOverview"
           aria-expanded="{{#ifCond a.main '===' 'dashboard'}}true{{else}}false{{/ifCond}}">
          <i class="fal fa-th-list"></i>
          <p>Dashboard
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse{{#ifCond a.main '===' 'dashboard'}} in{{/ifCond}}" id="dashboardOverview">
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'overview'}} class="active"{{/ifCond}}>
              <a href="/back-office/">
                <span class="sidebar-mini"><i class="far fa-eye"></i></span>
                <span class="sidebar-normal">Overview</span>
              </a>
            </li>
            <li{{#ifCond a.sub '===' 'stats'}} class="active"{{/ifCond}}>
              <a href="/back-office/stats">
                <span class="sidebar-mini"><i class="fal fa-chart-line"></i></span>
                <span class="sidebar-normal">Stats</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li{{#ifCond a.main '===' 'users'}} class="active"{{/ifCond}}>
        <a data-toggle="collapse" href="#usersOverview"
           aria-expanded="{{#ifCond a.main '===' 'users'}}true{{else}}false{{/ifCond}}">
          <i class="fal fa-users"></i>
          <p>Utilisateurs
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse{{#ifCond a.main '===' 'users'}} in{{/ifCond}}" id="usersOverview">
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'users_all'}} class="active"{{/ifCond}}>
              <a href="/back-office/users/">
                <span class="sidebar-mini"><i class="fal fa-poll-people"></i></span>
                <span class="sidebar-normal">Liste complète</span>
              </a>
            </li>
            <li{{#ifCond a.sub '===' 'candidates'}} class="active"{{/ifCond}}>
              <a href="/back-office/users/candidates">
                <span class="sidebar-mini"><i class="fal fa-user-check"></i></span>
                <span class="sidebar-normal">Candidats</span>
              </a>
            </li>
            <li{{#ifCond a.sub '===' 'es'}} class="active"{{/ifCond}}>
              <a href="/back-office/users/es">
                <span class="sidebar-mini"><i class="fal fa-hospital-user"></i></span>
                <span class="sidebar-normal">Comptes ES</span>
              </a>
            </li>
            <li{{#ifCond a.sub '===' 'groups'}} class="active"{{/ifCond}}>
              <a href="/back-office/groups">
                <span class="sidebar-mini"><i class="fal fa-project-diagram"></i></span>
                <span class="sidebar-normal">Groupes</span>
              </a>
            </li>
            <li{{#ifCond a.sub '===' 'superGroups'}} class="active"{{/ifCond}}>
              <a href="/back-office/super-groups">
                <span class="sidebar-mini"><i class="fal fa-sitemap"></i></span>
                <span class="sidebar-normal">Super Groupes</span>
              </a>
            </li>
            {{#ifCond a.sub '===' 'profile'}}
              <li class="active">
                <a href="#">
                  <span class="sidebar-mini"><i class="fal fa-id-card-alt"></i></span>
                  <span class="sidebar-normal">Profil d'un utilisateur</span>
                </a>
              </li>
            {{/ifCond}}
          </ul>
        </div>
      </li>
      <li{{#ifCond a.main '===' 'es'}} class="active"{{/ifCond}}>
        <a data-toggle="collapse" href="#esOverview"
           aria-expanded="{{#ifCond a.sub '===' 'es'}}true{{else}}false{{/ifCond}}">
          <i class="fal fa-hospitals"></i>
          <p>Établissements Mstaff
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse{{#ifCond a.main '===' 'es'}} in{{/ifCond}}" id="esOverview">
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'es_all'}} class="active"{{/ifCond}}>
              <a href="/back-office/es/">
                <span class="sidebar-mini"><i class="fal fa-alicorn"></i></span>
                <span class="sidebar-normal">Liste complète</span>
              </a>
            </li>
            {{#ifCond a.sub '===' 'view'}}
              <li class="active">
                <a href="#">
                  <span class="sidebar-mini"><i class="fal fa-eye"></i></span>
                  <span class="sidebar-normal">Vue d'un établissement</span>
                </a>
              </li>
            {{/ifCond}}
          </ul>
        </div>
      </li>
      <li{{#ifCond a.main '===' 'references'}} class="active"{{/ifCond}}>
        <a data-toggle="collapse" href="#referencesOverview"
           aria-expanded="{{#ifCond a.main '===' 'references'}}true{{else}}false{{/ifCond}}">
          <i class="fal fa-star-half-alt"></i>
          <p>Références
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse{{#ifCond a.main '===' 'references'}} in{{/ifCond}}" id="referencesOverview">
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'establishments'}} class="active"{{/ifCond}}>
              <a href="/back-office/establishments">
                <i class="fal fa-hospital"></i>
                <span class="sidebar-normal">Établissements</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'formations'}} class="active"{{/ifCond}}>
              <a href="/back-office/references/formations">
                <i class="fal fa-user-graduate"></i>
                <span class="sidebar-normal">Formations</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'skills'}} class="active"{{/ifCond}}>
              <a href="/back-office/references/skills">
                <i class="fal fa-award"></i>
                <span class="sidebar-normal">Compétences</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'equipments'}} class="active"{{/ifCond}}>
              <a href="/back-office/references/equipments">
                <i class="fal fa-stethoscope"></i>
                <span class="sidebar-normal">Matériels</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'softwares'}} class="active"{{/ifCond}}>
              <a href="/back-office/references/softwares">
                <i class="fal fa-save"></i>
                <span class="sidebar-normal">Logiciels</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'services'}} class="active"{{/ifCond}}>
              <a href="/back-office/references/services">
                <i class="fal fa-heartbeat"></i>
                <span class="sidebar-normal">Services</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'posts'}} class="active"{{/ifCond}}>
              <a href="/back-office/references/posts">
                <i class="fal fa-user-md"></i>
                <span class="sidebar-normal">Postes</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'qualifications'}} class="active"{{/ifCond}}>
              <a href="/back-office/references/qualifications">
                <i class="fal fa-graduation-cap"></i>
                <span class="sidebar-normal"> Diplômes Complémentaires </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li{{#ifCond a.main '===' 'configuration'}} class="active"{{/ifCond}}>
        <a data-toggle="collapse" href="#configOverview"
           aria-expanded="{{#ifCond a.main '===' 'configuration'}}true{{else}}false{{/ifCond}}">
          <i class="fal fa-cogs"></i>
          <p>Configuration
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse{{#ifCond a.main '===' 'configuration'}} in{{/ifCond}}" id="configOverview">
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'skillconfig'}} class="active"{{/ifCond}}>
              <a href="/back-office/configuration/skills">
                <i class="fal fa-cog"></i>
                <span class="sidebar-normal">Compétences</span>
              </a>
            </li>
          </ul>
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'equipmentconfig'}} class="active"{{/ifCond}}>
              <a href="/back-office/configuration/equipments">
                <i class="fal fa-cog"></i>
                <span class="sidebar-normal">Equipements</span>
              </a>
            </li>
          </ul>
        </div>
      <li{{#ifCond a.main '===' 'serverSettings'}} class="active"{{/ifCond}}>
        <a data-toggle="collapse" href="#serverSettingsOverview"
           aria-expanded="{{#ifCond a.main '===' 'serverSettings'}}true{{else}}false{{/ifCond}}">
          <i class="fal fa-tools"></i>
          <p>Paramètres Mstaff
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse{{#ifCond a.main '===' 'serverSettings'}} in{{/ifCond}}" id="serverSettingsOverview">
          <ul class="nav">
            <li{{#ifCond a.sub '===' 'main'}} class="active"{{/ifCond}}>
              <a href="/back-office/settings">
                <i class="fal fa-cogs"></i>
                <span class="sidebar-normal">Général</span>
              </a>
            </li>
          </ul>
        </div>
      <li>
        <a href="https://analytics.google.com/" target="_blank">
          <img src="/static/assets/images/ga.png" style="height: 65px;" alt="Google Analytics">
        </a>
      </li>
    </ul>
  </div>
</div>
