<style>
  /* Container */
  .container {
    margin: 0 auto;
    border: 0px solid black;
    width: 50%;
    height: 250px;
    border-radius: 3px;
    background-color: ghostwhite;
    text-align: center;
  }

  /* Preview */
  .preview {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0 auto;
    background: white;
  }

  .preview img {
    display: none;
  }

  /* Button */
  .button {
    border: 0px;
    background-color: deepskyblue;
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
  }
</style>
<div class="row">
  <div class="col-lg-4 col-md-5">
    <div class="card card-user">
      <div class="image"></div>
      <div class="content">
        <div class="author">
          {{log usr}}
          <img id="candidateAvatar" class="avatar border-blue" src="/static/assets/images/face-0.jpg"/>
          <form action="/profile/upload" method="post" enctype="multipart/form-data">
            <span class="input-group-btn">
              <span class="btn btn-default btn-file">
                <i class="fal fa-pencil"></i> <input type="file" id="imgInp" name="{{avatar_field}}">
                <script>
                  mytruc = () => {
                    let test = $('input#imgInp').files[0];
                    console.log(test);
                  }
                  </script>
              </span>
            </span>
            <button type="button" class="btn btn-primary" onclick="mytruc()" style=""> Valider </button>
          </form>
          <h4 class="title">{{usr.firstName}} {{usr.lastName}}<br/>
          </h4>
        </div>
        <p class="description text-center">
          {{usr.candidate.description}}
        </p>
      </div>
      <hr>
      <div class="text-center">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <h5>{{date usr.createdAt 'DD/MM/YY'}}<br/>
              <small>Inscription</small>
            </h5>
          </div>
          <div class="col-md-4">
            <h5>{{date usr.updatedAt 'DD/MM/YY'}}<br/>
              <small>Dernière modification</small>
            </h5>
          </div>
          <div class="col-md-3">
            <h5>{{usr.role}}<br/>
              <small>Role</small>
            </h5>
          </div>
          <div class="col-md-12">
            <button class="btn btn-info btn-fill btn-wd" id="changePass">
              Modifier mon mot de passe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-7">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Modifier le profil</h4>
      </div>
      <div class="card-content">
        <form method="post" action="/profile/edit">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Prénom</label>
                <input type="text" name="firstName" class="form-control border-input" placeholder="Prénom"
                       value="{{usr.firstName}}" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Nom</label>
                <input type="text" name="lastName" class="form-control border-input" placeholder="Nom"
                       value="{{usr.lastName}}" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Adresse email</label>
                <input type="email" name="email" class="form-control border-input" placeholder="Email"
                       value="{{usr.email}}" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Date de naissance</label>
                <input type="date" name="birthday" class="form-control border-input" placeholder="dd/mm/aaaa"
                       value="{{date usr.birthday 'YYYY-MM-DD'}}" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Code Postal</label>
                <input type="text" name="postal_code" class="form-control border-input" placeholder="Code Postal"
                       value="{{usr.postal_code}}" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Ville</label>
                <input type="text" name="town" class="form-control border-input" placeholder="Ville"
                       value="{{usr.town}}" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Pays</label>
                <input type="text" name="country" class="form-control border-input" placeholder="Code Postal"
                       value="{{usr.country}}" required>
              </div>
            </div>
          </div>
          {{#if usr.candidate}}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Mes motivations</label>
                  <textarea rows="5" name="description"
                            class="form-control border-input">{{usr.candidate.description}}</textarea>
                </div>
              </div>
            </div>
          {{/if}}
          <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
          <div class="text-center">
            <button type="submit" class="btn btn-info btn-fill btn-wd">Modifier le profil</button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(document).on('change', '.btn-file :file', function () {
      let input = $(this),
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function (event, label) {

      let input = $(this).parents('.input-group').find(':text'),
        log = label;
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        let reader = new FileReader();

        reader.onload = function (e) {
          $('#candidateAvatar').attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#imgInp").change(function () {
      readURL(this);
    });
  });
  $('#changePass').click(function () {
    createModal({
      id: 'changePassword',
      title: 'Modifier votre mot de passe',
      modal: 'candidate/changePassword'
    }, () => {
      $('button#ChangePassValidation').click(function () {
        if ($('input#newPassword').val() != '' && $('input#newPasswordVerification').val() != '' && $('input#oldPassword').val() != '') {
          let _csrf = $('#csrfToken').val();
          let newPassword = $('input#newPassword').val();
          let newPasswordVerification = $('input#newPasswordVerification ').val();
          let oldPassword = $('input#oldPassword ').val();

          $.post(`/profile/passwordReset`, {
            oldPassword,
            newPassword,
            newPasswordVerification,
            _csrf
          }, (response) => {
            console.log(response);
            if (response.status === 'invalid password') {
              $('input#oldPassword').addClass('error');
              setTimeout(function () {
                $('input#oldPassword').removeClass('error');
              }, 1000);
              notification({
                icon: 'exclamation',
                type: 'danger',
                title: `Votre mot de passe est invalide`,
                message: ``
              });
            }
            if (response.status === 'new password cannot be your old password') {
              $('input#oldPassword').addClass('error');
              $('input#newPassword').addClass('error');
              $('input#newPasswordVerification').addClass('error');
              setTimeout(function () {
                $('input#oldPassword').removeClass('error');
                $('input#newPassword').removeClass('error');
                $('input#newPasswordVerification').removeClass('error');
              }, 1000);
              notification({
                icon: 'exclamation',
                type: 'danger',
                title: `Votre nouveau mot de passe ne peut pas etre identique à l'ancien`,
                message: ``
              });
            }
            if (response.status === 'password verification is incorrect') {
              $('input#newPassword').addClass('error');
              $('input#newPasswordVerification').addClass('error');
              setTimeout(function () {
                $('input#newPassword').removeClass('error');
                $('input#newPasswordVerification').removeClass('error');
              }, 1000);
              notification({
                icon: 'exclamation',
                type: 'danger',
                title: `La vérification de votre mot de passe a échoué`,
                message: ``
              });
            }
            if (response.status === 'ok') {
              $('#changePassword').modal('hide');
            }
          });
        }
      });
    });
  });
</script>

