<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">

      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Connexion
      </h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Connectez-vous à votre espace Mstaff
      </p>

      <!-- Form -->
      <form action="/login" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

        <!-- Email address -->
        <div class="form-group">
          <!-- Label -->
          <label>{{tr.pages.login.form_email_label}}</label>
          <!-- Input -->
          <input type="email" class="form-control" name="username" placeholder="{{tr.pages.login.form_email_ph}}">
        </div>

        <!-- Password -->
        <div class="form-group">
          <div class="row">
            <div class="col">
              <!-- Label -->
              <label>{{tr.pages.login.form_password_label}}</label>
            </div>
            <div class="col-auto">
              <!-- Help text -->
              <a href="/reset/password" class="form-text small text-muted">
                Mot de passe oublié ?
              </a>
            </div>
          </div> <!-- / .row -->
          <!-- Input group -->
          <div class="form-group">
            <!-- Input -->
            <input type="password" class="form-control form-control-appended" name="password"
                   placeholder="{{tr.pages.login.form_password_ph}}">
          </div>
        </div>
        <!-- Submit -->
        <button class="btn btn-lg btn-block btn-primary mb-3">
          Connexion
        </button>

        <!-- Link -->
        <p class="text-center">
          <small class="text-muted text-center">
            Vous n'avez pas encore de compte ? <a href="/register">S'inscrire</a>.
          </small>
        </p>
      </form>
    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
      <!-- Image -->
      <div class="bg-cover vh-100 mt-n1 mr-n3"
           style="background-image: url(/static/assets/images/login-cover-hd.jpg);"></div>
    </div>
  </div>
</div>