<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="/static/assets/images/face-0.jpg" />
                    <h4 class="title">{{user.firstName}} {{user.lastName}}<br />
                        <a href="#"><small>{{age user.birthday 'years'}} ans</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    {{user.candidate.description}}
                    <a href="/profile/edit"><i class="fa fa-pencil"></i></a>
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h5>{{date user.createdAt 'DD/MM/YY'}}<br /><small>Inscription</small></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{date user.updatedAt 'DD/MM/YY'}}<br /><small>Dernière modification</small></h5>
                    </div>
                    <div class="col-md-3">
                        <h5>40%<br /><small>du profil complété</small></h5>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <h5><i class="fa fa-phone"></i> {{user.phone}}</h5>
                    <h5><i class="fa fa-envelope"></i> {{user.email}}</h5>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="fa fa-film" aria-hidden="true"></i> Vidéo de présentation</h4>
            </div>
            <div class="card-content text-center">
                <form id="file-upload-form" class="uploader" method="post" action="/profile/add/video">
                    <input id="file-upload" type="file" name="fileUpload" accept="video/*" />

                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <i class="fa fa-video-camera fa-3x" aria-hidden="true"></i>
                            <div>Choisir une vidéo ou déposer ici</div>
                            <div id="notvideo" class="hidden">Veuillez selectionner un fichier dans un format vidéo traditionnel.</div>
                            <span id="file-upload-btn" class="btn btn-primary">Selectionnez une vidéo</span>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="fa fa-heart" aria-hidden="true"></i> Mes candidatures</h4>
                <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier
                </button>
            </div>
            <div class="card-content">
                Soon
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title pull-left"><i class="fa fa-briefcase"></i> Expériences</h4>
                <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier
                </button>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th>Date</th>
                            <th>Établissement</th>
                            <th>Poste</th>
                            <th>Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if user.candidate.experiences}}
                            {{#each user.candidate.experiences as |xp|}}
                                <tr>
                                    <td>
                                        {{date xp.start 'MM/YYYY' }} -
                                        {{#if xp.end}}
                                            {{date xp.end 'MM/YYYY' }}
                                        {{else}}
                                            maintenant
                                        {{/if}}
                                        {{#if xp.internship}}
                                           <small>(stage)</small>
                                        {{/if}}
                                    </td>
                                    <td>{{xp.name}}</td>
                                    <td>{{xp.poste.name}}</td>
                                    <td>{{xp.service.name}}</td>
                                </tr>
                            {{/each}}
                        {{else}}
                           <tr class="text-center">
                               <td colspan="4">Aucune donnée disponible</td>
                           </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title pull-left"><i class="fa fa-graduation-cap"></i> Formations</h4>
                <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier
                </button>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                    <tr class="info">
                        <th><i class="fa fa-book" aria-hidden="true"></i> Diplômes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if user.candidate.formations}}
                        {{#each user.candidate.formations as |diploma|}}
                            <tr>
                                <td>{{diploma.formation.name}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr class="text-center">
                            <td>Aucune donnée disponible</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
                {{#if user.candidate.qualifications}}
                    <table class="table table-hover">
                        <thead>
                        <tr class="info">
                            <th><i class="fa fa-book" aria-hidden="true"></i> Diplômes complémentaires</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if user.candidate.qualifications}}
                            {{#each user.candidate.qualifications as |diploma|}}
                                <tr>
                                    <td>{{diploma.qualification.name}}</td>
                                </tr>
                            {{/each}}
                        {{/if}}
                        </tbody>
                    </table>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title pull-left"><i class="fa fa-briefcase"></i> Compétences</h4>
                <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier
                </button>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th><i class="fa fa-medkit" aria-hidden="true"></i> Soins techniques</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if user.candidate.skills}}
                            {{#each user.candidate.skills as |knowledge|}}
                                <tr>
                                    <td>{{knowledge.skill.name}}</td>
                                </tr>
                            {{/each}}
                        {{else}}
                            <tr class="text-center">
                                <td>Aucune donnée disponible</td>
                            </tr>
                        {{/if}}
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th><i class="fa fa-stethoscope" aria-hidden="true"></i> Matériels et produits</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#if user.candidate.equipments}}
                        {{#each user.candidate.equipments as |equipment|}}
                            <tr>
                                <td>{{equipment.equipment.name}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr class="text-center">
                            <td>Aucune donnée disponible</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                    <tr class="info">
                        <th><i class="fa fa-floppy-o" aria-hidden="true"></i> Logiciels</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if user.candidate.softwares}}
                        {{#each user.candidate.softwares as |software|}}
                            <tr>
                                <td>{{software.software.name}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr class="text-center">
                            <td>Aucune donnée disponible</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function videoUpload(){
        function Init() {

            console.log("Upload Initialised");

            var fileSelect    = document.getElementById('file-upload'),
                    fileDrag      = document.getElementById('file-drag'),
                    submitButton  = document.getElementById('submit-button');

            fileSelect.addEventListener('change', fileSelectHandler, false);

            // Is XHR2 available?
            var xhr = new XMLHttpRequest();
            if (xhr.upload) {
                // File Drop
                fileDrag.addEventListener('dragover', fileDragHover, false);
                fileDrag.addEventListener('dragleave', fileDragHover, false);
                fileDrag.addEventListener('drop', fileSelectHandler, false);
            }
        }

        function fileDragHover(e) {
            var fileDrag = document.getElementById('file-drag');

            e.stopPropagation();
            e.preventDefault();

            fileDrag.className = (e.type === 'dragover' ? 'hover' : 'modal-body file-upload');
        }

        function fileSelectHandler(e) {
            // Fetch FileList object
            var files = e.target.files || e.dataTransfer.files;

            // Cancel event and hover styling
            fileDragHover(e);

            // Process all File objects
            for (var i = 0, f; f = files[i]; i++) {
                parseFile(f);
                uploadFile(f);
            }
        }

        // Output
        function output(msg) {
            // Response
            var m = document.getElementById('messages');
            m.innerHTML = msg;
        }

        function parseFile(file) {

            console.log(file.name);
            output(
                    '<strong>' + encodeURI(file.name) + '</strong>'
            );

            // var fileType = file.type;
            // console.log(fileType);
            var imageName = file.name;

            var isGood = (/\.(?=mp4|avi|wmv|mov|wmf)/gi).test(imageName);
            if (isGood) {
                document.getElementById('start').classList.add("hidden");
                document.getElementById('response').classList.remove("hidden");
                document.getElementById('notvideo').classList.add("hidden");
                // Thumbnail Preview
                document.getElementById('file-image').classList.remove("hidden");
                document.getElementById('file-image').src = URL.createObjectURL(file);
            }
            else {
                document.getElementById('file-image').classList.add("hidden");
                document.getElementById('notvideo').classList.remove("hidden");
                document.getElementById('start').classList.remove("hidden");
                document.getElementById('response').classList.add("hidden");
                document.getElementById("file-upload-form").reset();
            }
        }

        function setProgressMaxValue(e) {
            var pBar = document.getElementById('file-progress');

            if (e.lengthComputable) {
                pBar.max = e.total;
            }
        }

        function updateFileProgress(e) {
            var pBar = document.getElementById('file-progress');

            if (e.lengthComputable) {
                pBar.value = e.loaded;
            }
        }

        function uploadFile(file) {

            var xhr = new XMLHttpRequest(),
                    fileInput = document.getElementById('class-roster-file'),
                    pBar = document.getElementById('file-progress'),
                    fileSizeLimit = 1024; // In MB
            if (xhr.upload) {
                // Check if file is less than x MB
                if (file.size <= fileSizeLimit * 1024 * 1024) {
                    // Progress bar
                    pBar.style.display = 'inline';
                    xhr.upload.addEventListener('loadstart', setProgressMaxValue, false);
                    xhr.upload.addEventListener('progress', updateFileProgress, false);

                    // File received / failed
                    xhr.onreadystatechange = function(e) {
                        if (xhr.readyState == 4) {
                            // Everything is good!

                            // progress.className = (xhr.status == 200 ? "success" : "failure");
                            // document.location.reload(true);
                        }
                    };

                    // Start upload
                    xhr.open('POST', document.getElementById('file-upload-form').action, true);
                    xhr.setRequestHeader('X-File-Name', file.name);
                    xhr.setRequestHeader('X-File-Size', file.size);
                    xhr.setRequestHeader('Content-Type', 'multipart/form-data');
                    xhr.send(file);
                } else {
                    output('Please upload a smaller file (< ' + fileSizeLimit + ' MB).');
                }
            }
        }

        // Check for the various File API support.
        if (window.File && window.FileList && window.FileReader) {
            Init();
        } else {
            document.getElementById('file-drag').style.display = 'none';
        }
    }
    videoUpload();
</script>