<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image"></div>
            <div class="content">
                <div class="author">
                    <img class="avatar border-white" src="/static/assets/images/face-0.jpg" />
                    <h4 class="title">{{user.firstName}} {{user.lastName}}<br />
                        <a href="#"><small>{{age user.birthday 'years'}} ans</small></a>
                    </h4>
                </div>
                <p class="description text-center">
                    {{user.candidate.description}}
                    <a href="/profile/edit"><i class="fa fa-pencil"></i></a>
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h5>{{date user.createdAt 'DD/MM/YY'}}<br /><small>Inscription</small></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{date user.updatedAt 'DD/MM/YY'}}<br /><small>Dernière modification</small></h5>
                    </div>
                    <div class="col-md-3">
                        <h5>40%<br /><small>du profil complété</small></h5>
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <h5><i class="fa fa-phone"></i> {{user.phone}}</h5>
                    <h5><i class="fa fa-envelope"></i> {{user.email}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title pull-left"><i class="fa fa-briefcase"></i> Expériences</h4>
                <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier
                </button>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th>Date</th>
                            <th>Établissement</th>
                            <th>Poste</th>
                            <th>Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if user.candidate.experiences}}
                            {{#each user.candidate.experiences as |xp|}}
                                <tr>
                                    <td>
                                        {{date xp.start 'MM/YYYY' }} -
                                        {{#if xp.end}}
                                            {{date xp.end 'MM/YYYY' }}
                                        {{else}}
                                            maintenant
                                        {{/if}}
                                        {{#if xp.internship}}
                                           <small>(stage)</small>
                                        {{/if}}
                                    </td>
                                    <td>{{xp.name}}</td>
                                    <td>{{xp.poste.name}}</td>
                                    <td>{{xp.service.name}}</td>
                                </tr>
                            {{/each}}
                        {{else}}
                           <tr class="text-center">
                               <td colspan="4">Aucune donnée disponible</td>
                           </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title pull-left"><i class="fa fa-graduation-cap"></i> Formations</h4>
                <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier
                </button>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                    <tr class="info">
                        <th><i class="fa fa-book" aria-hidden="true"></i> Diplômes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if user.candidate.formations}}
                        {{#each user.candidate.formations as |diploma|}}
                            <tr>
                                <td>{{diploma.formation.name}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr class="text-center">
                            <td>Aucune donnée disponible</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title pull-left"><i class="fa fa-briefcase"></i> Compétences</h4>
                <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier
                </button>
            </div>
            <div class="card-content table-responsive table-full-width">
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th><i class="fa fa-medkit" aria-hidden="true"></i> Soins techniques</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if user.candidate.skills}}
                            {{#each user.candidate.skills as |knowledge|}}
                                <tr>
                                    <td>{{knowledge.skill.name}}</td>
                                </tr>
                            {{/each}}
                        {{else}}
                            <tr class="text-center">
                                <td>Aucune donnée disponible</td>
                            </tr>
                        {{/if}}
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr class="info">
                            <th><i class="fa fa-stethoscope" aria-hidden="true"></i> Matériels et produits</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#if user.candidate.equipments}}
                        {{#each user.candidate.equipments as |equipment|}}
                            <tr>
                                <td>{{equipment.equipment.name}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr class="text-center">
                            <td>Aucune donnée disponible</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                    <tr class="info">
                        <th><i class="fa fa-floppy-o" aria-hidden="true"></i> Logiciels</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if user.candidate.softwares}}
                        {{#each user.candidate.softwares as |software|}}
                            <tr>
                                <td>{{software.software.name}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr class="text-center">
                            <td>Aucune donnée disponible</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
