<link rel="stylesheet" href="/static/assets/css/telinput/intlTelInput.css">
<style>
  .iti-flag {
    background-image: url("/static/assets/images/telinput/flags.png");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag {
      background-image: url("/static/assets/images/telinput/flags@2x.png");
    }
  }
</style>

<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Inscription
      </h1>
      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        {{tr.pages.register.title_card_header}}
        {{#if es}}
          {{tr.pages.register.title_card_header_es}} {{es.name}}
        {{/if}}
      </p>

      {{> flash}}

      <!-- Form -->
      <form action="/register" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

        <div class="form-group">
          <div class="row">
            <div class="col-6 firstName">
              <label for="firstName">{{tr.pages.register.form_firstName_label}}</label>
              <input id="firstName" name="firstName" type="text"
                     placeholder="{{tr.pages.register.form_firstName_label_ph}}"
                     class="form-control" value="{{body.firstName}}" required="">
            </div>
            <div class="col-6 lastName">
              <label for="lastName">{{tr.pages.register.form_lastName_label}}</label>
              <input id="lastName" name="lastName" type="text"
                     placeholder="{{tr.pages.register.form_lastName_label_ph}}"
                     class="form-control" value="{{body.lastName}}" required="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6 birthday">
              <label for="birthday">{{tr.pages.register.form_birthDate_label}}</label>
              <input id="birthday" name="birthday" type="text" value="{{body.birthday}}"
                     class="form-control" required="">
            </div>
            <div class="col-6 postal_code">
              <label for="postal_code">{{tr.pages.register.form_postalCode_label}}</label>
              <input id="postal_code" name="postal_code" type="text"
                     placeholder="{{tr.pages.register.form_postalCode_label_ph}}"
                     class="form-control" value="{{body.postal_code}}" required="">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-6 town">
              <label for="town">{{tr.pages.register.form_city_label}}</label>
              <input id="town" name="town" type="text"
                     placeholder="{{tr.pages.register.form_city_label_ph}}"
                     class="form-control" value="{{body.town}}" required="">
            </div>
            <div class="col-6 country">
              <label for="country">{{tr.pages.register.form_country_label}}</label>
              <input id="country" name="country" type="text"
                     placeholder="{{tr.pages.register.form_country_label_ph}}"
                     class="form-control" value="{{body.country}}" required="">
            </div>
          </div>
        </div>
        <div class="form-group phone">
          <label for="phone">{{tr.pages.register.form_phoneNumber_label}}</label>
          <input id="phone" name="phone" type="tel"
                 placeholder="{{tr.pages.register.form_phoneNumber_label_ph}}"
                 class="form-control" value="{{body.phone}}" required="">
        </div>
        <div class="form-group email">
          <label for="email">{{tr.pages.register.form_email_label}}</label>
          <input id="email" name="email" type="email" email="true"
                 placeholder="{{tr.pages.register.form_email_ph}}"
                 class="form-control" value="{{body.email}}" required="">
          <small id="emailTaken" class="form-text text-muted">{{tr.pages.register.errors.email_taken}}</small>
          <small id="emailHelp" class="form-text text-muted">{{tr.pages.register.form_email_muted}}</small>
        </div>
        <div class="form-group password">
          <label for="password">{{tr.pages.register.form_password_label}}</label>
          <input id="password" name="password" type="password"
                 placeholder="{{tr.pages.register.form_password_label_ph}}"
                 class="form-control" required="" autocomplete="off">
        </div>
        <div class="card bg-light border ml-md-4 passwordStrength" style="display: none">
          <div class="card-body">
            <p class="mb-2">
              Exigences de mot de passe
            </p>

            <p class="small text-muted mb-2">
              Merci de satisfaire toutes les exigences suivantes pour créer votre compte sur Mstaff :
            </p>
            <ul class="small text-muted pl-4 mb-0">
              <li id="length" class="bad-rule">
                Minimum 8 caractères.
              </li>
              <li id="uppercase" class="bad-rule">
                Au moins une majuscule.
              </li>
              <li id="symbol" class="bad-rule">
                Au moins un caractère spécial.
              </li>
              <li id="number" class="bad-rule">
                Au moins un chiffre.
              </li>
            </ul>
          </div>
        </div>
        <!-- Terms -->
        <p class="text-center">
          <small class="text-muted text-center">
            {{{tr.pages.register.terms}}}
          </small>
        </p>

        <!-- Submit -->
        <button class="btn btn-lg btn-block btn-primary mb-3" id="validateForm" disabled>
          {{tr.pages.register.form_submit_btn}}
        </button>

        <!-- Link -->
        <p class="text-center">
          <small class="text-muted text-center">
            Vous avez déjà un compte ? <a href="/login">Se connecter</a>.
          </small>
        </p>
      </form>
    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
      <!-- Image -->
      <div class="bg-cover vh-100 mt-n1 mr-n3"
           style="background-image: url(/static/assets/images/login-cover-hd.jpg);"></div>
    </div>
  </div>
</div>
  <script src="/static/assets/js/telinput/intlTelInput.js"></script>
  <script>
    $('#email').blur(() => {
      let email = $('#email').val();
      $.get(`/api/user/emailAvailable/${email}`, (result) => {
        if (!result.available) {
          $('.form-group.email').addClass('has-error');
          $('#emailTaken').show();
        } else {
          $('.form-group.email').addClass('has-success').removeClass('has-error');
          $('#emailTaken').hide();
        }
      }).catch(error => {
        $('#emailTaken').hide();
        $('.form-group.email').addClass('has-error').removeClass('has-success');
      });
    });
    $(document).ready(function () {
      let input = document.querySelector("#phone");
      window.intlTelInput(input);

      $('#birthday').datetimepicker({
        format: 'YYYY-MM-DD'
      });
    });
    $('#password').focus(() => {
      $('.passwordStrength').show();
    });
    $('#password').blur(() => {
      $('.passwordStrength').hide();
    });


  </script>
  <script src="/static/assets/dist/js/passwordStrengthChecker.min.js"></script>