<style>
  .iti-flag {
    background-image: url("/assets/images/telinput/flags.png") !important;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag {
      background-image: url("/assets/images/telinput/flags@2x.png") !important;
    }
  }
  .intl-tel-input .country-list{
    background-color: rgba(0,0,0,0.8) !important;
  }
  .disc{
    list-style-type: disc;
  }
  .bad-rule{
    color:red;
  }
  .good-rule{
    color: greenyellow;
  }
</style>

<i id="backToSkill" class="fal fa-arrow-circle-left fa-2x custom-cursor"></i>

<div class="height-80 d-flex flex-column justify-content-center">
  <form>
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="identityForename">Prénom*</label>
        <input id="identityForename" type="text" class="form-control" value="{{candidateDatas.identity.firstName}}">
      </div>
      <div class="col-6">
        <label for="identityName">Nom*</label>
        <input id="identityName" type="text" class="form-control" value="{{candidateDatas.identity.lastName}}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="identityBirth">Date de naissance*</label>
        <input id="identityBirth" type="text" class="form-control" value="{{candidateDatas.identity.birthday}}">
      </div>
      <div class="col-6">
        <label for="identityPostal">Code postal*</label>
        <input id="identityPostal" type="text" class="form-control" value="{{candidateDatas.identity.postal_code}}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="identityCity">Ville*</label>
        <input id="identityCity" type="text" class="form-control" value="{{candidateDatas.identity.town}}">
      </div>
      <div class="col-6">
        <label for="identityCountry">Pays*</label>
        <input id="identityCountry" type="text" class="form-control" value="{{candidateDatas.identity.country}}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <label for="identityPhone">Numéro de téléphone*</label>
        <input id="identityPhone" type="tel" class="form-control" value="{{candidateDatas.identity.phone}}">
      </div>
      <div class="col-6">
        <label for="identityMail">Adresse e-mail*</label>
        <input id="identityMail" type="text" class="form-control" value="{{candidateDatas.identity.email}}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="identityPassword">Mot de passe*</label>
    <div class="input-group mb-3">
      <input id="identityPassword" type="password" class="form-control" value="{{candidateDatas.identity.password}}">
      <div class="input-group-append custom-cursor" onclick="togglePasswordVisibility()">
        <span class="input-group-text"><i class="fal fa-low-vision col-5"></i></span>
      </div>
    </div>
  </div>
    <div class="password-indicator ml-5">
      <ul style="visibility: hidden;">
        <li id="length" class="bad-rule disc">Minimum 8 caractères</li>
        <li id="uppercase" class="bad-rule disc">Au moins une majuscule</li>
        <li id="symbol" class="bad-rule disc">Au moins un caractère spécial (!@#$%^&*)</li>
        <li id="number" class="bad-rule disc">Au moins un chiffre</li>
      </ul>
    </div>
</form>
</div>
<div class="row justify-content-end">
  <div class="custom-cursor" id="toRecap"><i class="fal fa-arrow-circle-right fa-2x"></i></div>
</div>

<script src="/assets/dist/js/ats/ats_identity.min.js"></script>