<div class="row">
  <div class="col-md-8">
    <form method="post" class="card" style="padding: 15px">
      <fieldset>
        <legend>
          <h5 style="text-align: center">Informations de base</h5>
        </legend>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="ESName">Nom</label>
            <input type="text" class="form-control" id="ESName" name="name" placeholder="Nom de l'établissement"
                   value="{{es.name}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESFinessEt">Finess ET</label>
            <input type="text" class="form-control" id="ESFinessEt" name="finess_et" placeholder="Numéro Finess ET"
                   value="{{es.finess}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESFinessEj">Finess EJ</label>
            <input type="text" class="form-control" id="ESFinessEj" name="finess_ej" placeholder="Numéro Finess EJ"
                   value="{{es.finess_ej}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESSiret">Siret</label>
            <input type="text" class="form-control" id="ESSiret" name="siret" placeholder="Numéro Siret"
                   value="{{es.siret}}">
          </div>
          <div class="form-group col-md-4">
            <label for="ESAddress">Addresse</label>
            <input type="text" class="form-control" id="ESAddress" name="address" value="{{es.address}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESTown">Code postale & ville</label>
            <input type="text" class="form-control" id="ESTown" name="addr_town" value="{{es.town}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESPhone">Numéro de téléphone</label>
            <input type="text" class="form-control" id="ESPhone" name="phone" placeholder="+331020304"
                   value="{{es.phone}}">
          </div>
          <div class="form-group col-md-2">
            <label for="salaries_count">Nombre d'employés</label>
            <input class="form-control" name="salaries_count" type="number" value="{{es.salaries_count}}"
                   id="salaries_count">
          </div>
          <div class="form-group col-md-3">
            <label for="secteur">Secteur</label>
            <select class="form-control" id="secteur" name="sector">
              <option value="private"{{#ifCond es.sector '===' 'private'}} selected="selected"{{/ifCond}}>PRIVE</option>
              <option value="public"{{#ifCond es.sector '===' 'public'}} selected="selected"{{/ifCond}}>PUBLIC</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="category">Catégorie</label>
            <select class="form-control" id="category" name="category">
              <option value=""> </option>
              <option value="CH"{{#ifCond es.category '===' 'CH'}} selected="selected"{{/ifCond}}>CH & CHU</option>
              <option value="clinique"{{#ifCond es.category '===' 'clinique'}} selected="selected"{{/ifCond}}>Clinique</option>
              <option value="medico-social"{{#ifCond es.category '===' 'medico-social'}} selected="selected"{{/ifCond}}>Médico-Social</option>
              <option value="liberal"{{#ifCond es.category '===' 'liberal'}} selected="selected"{{/ifCond}}>Structure Libérale</option>
              <option value="divers"{{#ifCond es.category '===' 'divers'}} selected="selected"{{/ifCond}}>Divers</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="logo">Logo</label>
            <input class="form-control" name="logo" type="text" id="logo" value="{{es.logo}}">
          </div>
          <div class="form-group col-md-2">
            <label for="banner">Bannière</label>
            <input class="form-control" name="banner" type="text" id="banner" value="{{es.banner}}">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <h5 style="text-align: center">Informations du référent</h5>
        </legend>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="ESContactName">Nom</label>
            <input type="text" class="form-control" id="ESContactName" name="contactIdentity" placeholder="Jean Dupont"
                   value="{{es.contact_identity}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESContactPost">Poste</label>
            <input type="text" class="form-control" id="ESContactPost" name="contactPost" placeholder="DRH"
                   value="{{es.contact_post}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESContactEmail">Email</label>
            <input type="text" class="form-control" id="ESContactEmail" name="contactEmail"
                   placeholder="jean.dupont@etablissement.org" value="{{es.contact_email}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESContactPhone">Numéro de téléphone</label>
            <input type="text" class="form-control" id="ESContactPhone" name="contactPhone" placeholder="0601020304"
                   value="{{es.contact_phone}}">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          <h5 style="text-align: center">Configuration dans Mstaff</h5>
        </legend>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="ESMstaffCat">Catégorie Mstaff</label>
            <input type="text" class="form-control" id="ESMstaffCat">
          </div>
          <div class="form-group col-md-3">
            <label for="ESGroup">Groupe</label>
            <input type="text" class="form-control" id="ESGroup">
          </div>
          <div class="form-group col-md-3">
            <label for="domaine_enable">Domaine</label>
            <select class="form-control" id="domain_enable" name="domain_enable">
              <option value="1"{{#if es.domain_enable}} selected="selected"{{/if}}>Actif</option>
              <option value="0"{{#unless es.domain_enable}} selected="selected"{{/unless}}>Inactif</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="domain_name">Nom de domaine</label>
            <div class="row">
              <div class="col-md-8">
                <input class="form-control col-md-8" placeholder="établissement" name="domain_name" type="text"
                       value="{{es.domain_name}}" id="domain_name">
              </div>
              <div class="col-md-4" style="margin-left: -26px;"><h4>.mstaff.co</h4></div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="ESLat">Latitude (pour la map)</label>
            <input type="text" class="form-control" id="ESLat" name="lat" value="{{es.ref.lat}}">
          </div>
          <div class="form-group col-md-3">
            <label for="ESLon">Longitude (pour la map)</label>
            <input type="text" class="form-control" id="ESLon" name="lon" value="{{es.ref.lon}}">
          </div>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        <button type="submit" class="btn btn-primary pull-right">Enregistrer</button>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="padding: 15px">
          <fieldset>
            <legend>
              <h5 style="text-align: center">Utilisateurs <span id="addUser" class="btn btn-success"><i
                class="fal fa-plus-circle"></i></span></h5>
            </legend>
            <ul id="esUsers">
              {{#each es.ESAccounts as |esAccount|}}
                <li id="{{esAccount.user_id}}">
                  <h5>
                    {{esAccount.User.firstName}} {{esAccount.User.lastName}}
                    <span class="role">
                      [{{esAccount.role}} <i style="color: dodgerblue; cursor: pointer" class="fal fa-pencil editESRole"
                                             data-uid="{{esAccount.User.id}}"></i>]
                    </span>
                    <i style="color: red; cursor: pointer" class="fal fa-times removeUserFromES"
                       data-uid="{{esAccount.User.id}}"></i>
                  </h5>
                </li>
              {{/each}}
            </ul>
          </fieldset>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card" style="padding: 15px">
          <fieldset>
            <legend>
              <h5 style="text-align: center">Données</h5>
            </legend>
            <button class="btn btn-info" id="showNeeds">Voir les besoins</button>
            <button class="btn btn-info" id="showOffers">Voir les offres</button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#addUser').click(function () {
    createModal({
      id: 'addUserInESModal',
      modal: 'back-office/addUserInES',
      title: 'Ajouter un nouvel utilisateur à cet établissement',
      esId: '{{es.id}}'
    }, () => {
      let userExists = false
    })
  });

  $('.editESRole').click(function () {
    let userId = $(this).attr('data-uid');
    createModal({
      id: 'editESRoleModal',
      modal: 'back-office/editUserESRole',
      title: 'Modifier le role d\'un utilisateur pour cet établissement',
      esId: '{{es.id}}',
      userId
    });
  });

  $('.removeUserFromES').click(function () {
    let userId = $(this).attr('data-uid');
    if (confirm('Voulez-vous vraiment supprimer cet utilisateur de cet établissement ?')) {
      $.post(`/api/back-office/establishment/{{es.id}}/remove/user/${userId}`, {
        _csrf: $('meta[name="csrf-token"]').attr('content')
      }, (data) => {
        if (data.user_id !== parseInt(userId)) {
          notification({
            icon: 'exclamation',
            type: 'danger',
            title: 'Une erreur est survenue :',
            message: 'Impossible de supprimer cet utilisateur.'
          });
        } else {
          $(`#esUsers > li#${data.user_id}`).remove();
          notification({
            icon: 'check-circle',
            type: 'success',
            title: 'Utilisateur supprimé de cet établissement avec succès.'
          });
        }
      })
    }
  });

  $('#showNeeds').click(function () {
    $.get('/api/back-office/establishment/{{es.id}}/needs', needs => {
      createModal({
        id: 'showNeedsModal',
        modal: 'back-office/showNeeds',
        title: 'Les besoins de cet établissement',
        size: 'modal-xl',
        style: 'width:60%',
        esId: '{{es.id}}',
        needs
      }, () => {

      })
    }).catch((xhr, status, error) => catchError(xhr, status, error));

  });

  $('#showOffers').click(function () {
    alert('soon');
    /*createModal({
      id: 'addUserInESModal',
      modal: 'back-office/addUserInES',
      title: 'Les offres de cet établissement',
      esId: '{{!--{{es.id}}--}}'
    }, () => { let userExists = false })*/
  });

  let showCandidateProfile = userId => {
    $.post(`/api/back-office/candidate/${userId}`, {_csrf: $('meta[name="csrf-token"]').attr('content')}, data => {
      createModal({
        id: 'viewCandidateProfileModal',
        modal: 'es/viewCandidateProfile',
        size: 'modal-xl',
        style: 'width:80%',
        title: `Profil de ${data.User.firstName} ${data.User.lastName}`,
        candidate: data
      }, () => {

      });
    });
  };
</script>
